---
title: Projects
mavo: true
---

<p>Ordered mostly by release date, with those with the most impact featured first.

<p>
Please note that this mainly contains open source tools I’ve developed, and is only a subset of my work.
For example, it does not contain any of my work designing web technologies, documenting web platform design principles as a TAG member,
or any of my pre-2011 entrepreneurial work.

<div mv-app="projects" class="projects" mv-storage="https://github.com/leaverou/lea.verou.me/data/projects.json" mv-plugins="markdown">
	<h2>[count(project)] projects ([count(type = &quot;lib&quot;)] libraries and [count(type = &quot;app&quot;)] apps)</h2>
	<div mv-list>
		<article property="project" mv-multiple="" mv-list-item mv-order="desc" style="--featured-weight: [featured]" class="type-[type] [if(featured &gt; 0, &quot;featured&quot;)]">
			<span property="featured" mv-attribute="data-weight" mv-editor-type="range" mv-editor-min="0" mv-editor-max="5" mv-default="0">Featured</span>
			<a href="[url]" class="image-container"><img property="image"/></a>
			<div class="main-content">
				<h3>
					<span property="type" mv-options="lib: Library, app: App"></span>
					<a href="[url]" target="_blank" mv-attribute="none" property="name" rel="noopener"></a>
					<span class="released">(<time property="releaseDate" datetime="YYYY-MM" mv-default="[$today]">[
						if(year(releaseDate) >= 2020, month(releaseDate, "shortname") & " ")
						& year(releaseDate)
					]</time>)</span>
				</h3>
				<div property="description" class="markdown"></div>
			</div>
			<footer>
				<a property="url">[replace(url, &quot;https://&quot;)]</a>
				<a property="blogPost">Blog post</a>
				<a property="repo" href="https://github.com/[repo]" mv-attribute="none" target="_blank" rel="noopener"></a>
				<img src="https://img.shields.io/github/stars/[repo]?style=social" alt=""/>
			</footer>
		</article>
	</div>
</div>