---
title: Open Source Projects
page_css: true
includes: |
  <link rel="alternate" href="../data/projects.json" type="application/json" />
  <script src="https://nudeui.com/meter-discrete/meter-discrete.js" type="module"></script>
---

{% markdown %}
I have launched dozens of open source projects over the years, many used on millions of websites.

I design software that makes simple things easy, complex things possible, and keeps the transition between the two smooth.
[This short talk](https://www.youtube.com/watch?v=g92XUzc1OHY&t=1s) summarizes my API design philosophy well.

I want everyone who would benefit from these projects to have access to them, so my work is nearly always distributed under **permissive licenses** (typically [MIT](https://opensource.org/license/mit)).

However, designing, building, and maintaining software is highly skilled, specialized work.
If you are using my work in a for-profit project, there is a **social** expectation that you help fund its maintenance.
[Sponsor me on GitHub](https://github.com/sponsors/LeaVerou) and be the reason we _can_ have nice things.
This is also in **_your_ best interest**, as it makes me more likely to prioritize it.

{% endmarkdown %}

<div class="projects">
	<h2>{{ projects.length }} projects</h2>
	<div class="projects-list">
		{% for project in projects %}
		<article style="--featured-weight: {{ project.featured }}"
		  class="project type-{{ project.type }} {{ 'featured' if project.featured }} {{ 'no-image' if not project.image }}">
		  {% if project.featured %}
			<span class="featured" data-weight="{{ project.featured }}">Featured</span>
		  {% endif %}
		  	{% if project.image %}
			<a href="{{ project.url }}" class="image-container"><img src="{{ project.image }}" alt="{{ project.name }}" /></a>
			{% endif %}
			<div class="main-content">
				<h3>
					<a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.name }}</a>
					<span class="released">(<a property="launch" title="View launch announcement">
						<time property="date" datetime="{{ project.date | format_date("iso") }}">
							{% set projectYear = project.date | format_date({year: "numeric"}) %}
							{% if projectYear >= 2020 %}
							{{ project.date | format_date({month: "short"}) }}
							{% endif %}
							{{ projectYear }}
						</time>)</a></span>
				</h3>
				<div class="project-meta">
					{% if project.type %}
					<span class="type">{{ { lib: "Library", app: "App" }[project.type] }}</span>
					{% endif %}
					{% if project.size %}
					<span class="size">{{ { major: "major", minor: "minor" }[project.size] }}</span>
					{% endif %}
				</div>
				{% if project.description %}
				<div class="description">{{ project.description | md_block }}</div>
				{% endif %}
				{% if project.innovation %}
				<section>
					<h4>Innovation(s)</h4>
					<div class="innovation">{{ project.innovation | md_block }}</div>
				</section>
				{% endif %}
				{% if project.impact %}
				<section>
					<h4>
						Impact
						<meter-discrete value="{{ project.impact_rating }}" min="1" max="3" step="1" icon="🔥"></meter-discrete>
					</h4>
					<div class="impact">{{ project.impact | md_block }}</div>
				</section>
				{% endif %}
			</div>
			<footer>
				<a class="url">{{ project.url | format_url }}</a>
				<span class="repo">
					<a href="https://github.com/{{ project.repo }}" target="_blank">{{ project.repo | replace("leaverou/", "") }}</a>
					{% if project.repo_stars > 999 %}
					<a href="https://github.com/{{ project.repo }}/stargazers" target="_blank" class="stat stars"
						title="{{ project.repo_stars | format_number }} stars on GitHub">{{ project.repo_stars | format_number }}</a>
					{% endif %}
				</span>
				<span class="npm">
					<a class="npm" href="https://www.npmjs.com/package/{{ project.npm }}" target="_blank"></a>
					{% if project.npm_downloads > 9999 %}
					<a href="https://npm-stat.com/charts.html?package={{ project.npm }}&from={{ project.date }}" target="_blank" class="stat downloads"
						title="{{ project.npm_downloads | format_number }} total npm downloads">{{ project.npm_downloads | format_number }}</a>
					{% endif %}
				</span>
			</footer>
		</article>
		{% endfor %}
	</div>
</div>
