---
title: Projects
mavo: true
page_css: true
includes: |
  <link rel="alternate" href="../data/projects.json" type="application/json" />
  <script src="https://nudeui.com/meter-discrete/meter-discrete.js" type="module"></script>
---

<p>Ordered mostly by release date, with those with the most impact featured first.

<p>
Please note that this mainly contains open source tools I’ve developed, and is only a subset of my work.
It does not contain any of <a href="/specs/">my work designing and reviewing web technologies</a>,
any of my early entrepreneurial work (2005-2011), or my work at any of my employers (except MIT).
</p>

<div mv-app="projects" class="projects" mv-source="../data/projects.json" mv-storage="https://github.com/leaverou/lea.verou.me/data/projects.json" mv-plugins="markdown">
	<h2>[count(project)] projects ([count(type = &quot;lib&quot;)] libraries and [count(type = &quot;app&quot;)] apps)</h2>
	<div mv-list class="projects-list" mv-order="desc">
		<article property="project" mv-list-item style="--featured-weight: [featured]"
		  class="project type-[type] [if(featured &gt; 0, &quot;featured&quot;)] [if(!image, 'no-image')]">
			<span property="featured" mv-attribute="data-weight" mv-editor-type="range" mv-editor-min="0" mv-editor-max="5" mv-default="0">Featured</span>
			<a href="[url]" class="image-container"><img property="image"/></a>
			<div class="main-content">
				<h3>
					<a href="[url]" target="_blank" mv-attribute="none" property="name" rel="noopener"></a>
					<span class="released">(<a property="launch" title="View launch announcement"><time property="date" datetime="YYYY-MM" mv-default="[$today]">[
						if(year(date) >= 2020, month(date, "shortname") & " ")
						& year(date)
					]</time>)</a></span>
				</h3>
				<div class="project-meta">
					<span property="type" class="type" mv-options="lib: Library, app: App"></span>
					<span property="size" class="size" mv-options=": (No size), major, minor"></span>
				</div>
				<div property="description" class="markdown"></div>
				<section class="[if(!innovation, 'edit-only')]">
					<h4>Innovation(s)</h4>
					<div property="innovation" class="markdown"></div>
				</section>
				<section class="[if(!impact, 'edit-only')]">
					<h4>
						Impact
						<meter-discrete class="[if(!impact_rating, 'edit-only')]" property="impact_rating" min="1" max="3" step="1" mv-edit-as="meter" icon="🔥"></meter-discrete>
					</h4>
					<div property="impact" class="markdown"></div>
				</section>

			</div>
			<footer>
				<a property="url">[replace(url, &quot;https://&quot;)]</a>
				<span class="repo [if(!repo, 'edit-only')]">
					<a href="https://github.com/[repo]" target="_blank" mv-attribute="none">[ if(starts(repo, 'leaverou/'), from(repo, "leaverou/"), repo)]</a>
					<a mv-if="repo_stars > 999" href="https://github.com/[repo]/stargazers" target="_blank" class="stat stars"
						property="repo_stars_formatted" mv-attribute="none" title="[repo_stars] stars on GitHub"></a>
				</span>
				<span class="npm [if(!npm, 'edit-only')]">
					<a property="npm" href="https://www.npmjs.com/package/[npm]" mv-attribute="none" target="_blank"></a>
					<a mv-if="npm_downloads > 9999" href="https://npm-stat.com/charts.html?package=[npm]&from=[date]" target="_blank" class="stat downloads"
						property="npm_downloads_formatted" mv-attribute="none"
						title="[npm_downloads] total npm downloads"></a>
				</span>
			</footer>
		</article>
	</div>
</div>
