# Build artifacts
# ----------------
_redirects
feed.xml

# HTML files
**/index.html
!files/**/index.html
!specs/conical-gradient/index.html
!mocks/**/index.html
404.html
blog/tags/*

# CSS files
assets/style.css
projects/style.css

# Data files
**/index.json

# Early drafts
# ----------------
blog/2024/self-closing-defense
blog/2024/product
blog/2024/eng-momentum
blog/2024/text-based-formats
blog/2024/case-study-sentiment-ui
blog/2024/web-standards-product-hard-mode

# Sensitive info
# ----------------
_build/GITHUB_ACCESS_TOKEN.txt

# Other
# ----------------

# Local Netlify folder
.netlify
