# Built files
_redirects
feed.xml
**/index.html
!files/**/index.html
!mocks/**/index.html
404.html
assets/style.css
blog/tags/*
**/index.json

# Early drafts
blog/2023/self-closing-defense

# Local Netlify folder
.netlify
