# Build artifacts
# ----------------
_redirects
feed.xml

# HTML files
**/index.html
!files/**/index.html
!specs/conical-gradient/index.html
!mocks/**/index.html
!**/research/index.html
404.html
blog/tags/*

# Data files
**/index.json

# Early drafts
# ----------------
blog/2025/product
blog/2025/eng-momentum
blog/2025/text-based-formats
blog/2025/case-study-sentiment-ui
blog/2025/web-standards-product-hard-mode
blog/2025/composable-web-ui
blog/2025/phd

# Sensitive info
# ----------------
_build/GITHUB_ACCESS_TOKEN.txt

# Other
# ----------------
node_modules
.DS_Store

# Local Netlify folder
.netlify
