---json
{
  "permalink": "feed.xml",
  "layout": null,
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Lea Verou’s blog",
    "subtitle": "Web standards, Software Engineering, Product, Usability, and more",
    "language": "en",
    "url": "https://lea.verou.me/",
    "author": {
      "name": "Lea Verou",
      "email": "lea@verou.me"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for post in collections.published | reverse %}
  {%- set absolutePostUrl = post.data.compatUrl | absoluteUrl(metadata.url) -%}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    {% if post.data.wpid -%}
    <id>{{ site.domain }}/?p={{ post.data.wpid }}</id>
    {%- else -%}
    <id>{{ absolutePostUrl }}</id>
    {%- endif %}
    <content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
