---
title: Home
---
<div class="nutshell">

<a href="/about"><img src="/about/images/lightsaber.jpg" alt="Photo of me with a lightsaber"></a>
{% markdown %}
**Hi, I’m Lea!** 👋🏼
I make things that help people make things.
Ι [design web technologies](/specs/) implemented in your browser,
launch [open source dev tools](/projects/) used by millions,
and [consult](/consulting/) on my areas of expertise.
I hold a PhD in usability & innovation from [MIT](https://mit.edu)&thinsp;—&thinsp;but chose product over research.
I love sharing knowledge and [speak](/speaking/), [teach](https://designftw.mit.edu), [write](/publications/),
and [blog](/blog/) about product design, web technologies, usability, and their intersection.
{% endmarkdown %}

<p class="row">
	<a class="cta" href="/about/" style="--icon: var(--icon-question);">More about me</a>
	<a class="cta secondary work-with-me" href="/consulting/">Work with me</a>
</p>
</div>

<h2><a href="/blog/">Blog</a> <a href="/feed.xml" title="Feed" class="feed"></a></h2>

{% import "_posts.njk" as posts %}
{{ posts.list(collections.published.slice(0, 30), {style: "compact", start: collections.published.length}) }}

<p><a class="cta secondary" href="/blog/page/3/">All blog posts</a></p>
