---
title: Home
---
<div class="nutshell">

<img src="/about/images/lightsaber.jpg" alt="Photo of me with a lightsaber">
{% markdown %}
**Hi, I’m Lea!** 👋🏼 I love making things that help people make things. <br>
I work as Product Lead at [Font Awesome](https://fontawesome.com/), building the next generation of web design tools.
Ι also [make web technologies better](/specs/),
and launch [open source tools](/projects/) used by millions of developers.
I've done [HCI research](/publications/#research) at [MIT](https://mit.edu), earning me a PhD
(_yes, I also answer to Dr Verou_ 😅).
I love sharing knowledge via [speaking](/speaking/), [teaching](https://designftw.mit.edu), and [writing](/publications/).
Here, I [blog](/blog/) about product design, web technologies, and more.
{% endmarkdown %}

<p><a class="call-to-action" href="/about/">More about me</a></p>
</div>

<h2><a href="/blog/">Blog</a> <a href="/feed.xml" title="Feed" class="feed"></a></h2>

{% import "_posts.njk" as posts %}
{{ posts.list(collections.published.slice(0, 30), {style: "compact", start: collections.published.length}) }}

<p><a class="call-to-action" href="/blog/page/3/">More blog posts</a></p>
