---
permalink: _redirects
layout: null
eleventyExcludeFromCollections: true
---

# Redirects for domain aliases
{% for domain in site.domain_aliases %}{{ domain }}/* https://lea.verou.me/:splat 301
{% endfor %}

# Redirect old feed
/feed/ /feed.xml 301

# Redirect PHP files and wp-content/ to old website
# /*.php https://lea0.verou.me/:splat.php 200 # not working :(
/wp-content/* https://lea0.verou.me/wp-content/:splat 200

# Interviews page has been merged with Press
/interviews/ /press/

# Blog links using year/month/slug format
/20* /blog/20:splat 301

# Redirect projects that now live on GitHub or separate domains
/css3patterns/* https://projects.verou.me/css3patterns/:splat 301
/incrementable/* https://incrementable.verou.me/:splat 301

# Tag aliases
{% for alias, tag in tag_aliases %}/blog/tags/{{ alias }}/ /blog/tags/{{ tag }}/ 301
{% endfor %}

# Static file hosting without cluttering root
/* /files/:splat 200