<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Custom Options</title>
	<link rel="stylesheet" href="style.css">
	<link rel="icon" href='data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><text y=".9em" font-size="90">📝</text></svg>'>

	<script type="module" src="index.js"></script>
</head>
<body>

<div class="wrapper" id="wrapper">
	<div class="survey-section">
		<div class="section-contents">
			<div class="section-questions" id="section-questions">
				<form @submit.prevent>
				<!-- Question -->
				<div v-for="question of questions" class="form-input"
				:class="{
					'open-comment': question.open_comment,
					'has-predefined-options': question.options.length > 0,
					'has-custom-options': question.customOptions.length > 0,
				}"
				@focusout="$event.currentTarget.contains($event.relatedTarget) ? void 0 : question.remove_empty_custom_options?.()"
				>
					<div>
						<div>
							<h3 class="form-label-heading" :id="question.id">
								<label class="form-label" :for="`css2023__features__${ question.id }__experience`">
									<span class="entity-label" v-html="question.question"></span>
								</label>
							</h3>

							<div class="form-item-contents">
								<span class="form-item-description" v-if="question.description" v-html="question.description"></span>
								<div class="form-item-input">
									<div class="code-example" v-if="question.code_example">
										<h5 class="code-example-heading">
											<span data-key="general.code_example" class="i18n-message t">Code Example</span>
										</h5>
										<div v-html="question.code_example"></div>
									</div>
									<div class="experience-contents">
										<div class="experience-options form-item-options">
											<!-- Option -->
											<div v-for="(option, index) in question.options" class="form-check" :class="{selected: option.selected}">
												<div class="form-input-wrapper">
													<input v-model="question.answer"
														:id="`css2023__features__${ question.id }__experience.${ index }`"
														class="form-check-input"
														:type="question.multiple? 'checkbox' : 'radio'"
														:value="option.value"
														name="css2023__features__${ question.id }__experience">
												</div>
												<div class="form-option">
													<div class="form-option-item">
														<span class="form-option-label">
															<label :for="`css2023__features__${ question.id }__experience.${ index }`" :data-key="'options.features.' + option.value" class="form-check-label i18n-message t">
																<span v-if="option.icon">{{ option.icon }}</span>
																<span v-html="option.label"></span>
															</label>
														</span>
													</div>
												</div>
											</div>
											<template v-if="question.allowCustom">
												<!-- Custom Option -->
												<div v-for="(option, index) in question.customOptions"
													class="form-check custom-option-container"
													:class="{empty: !option.value}"
													>
													<div class="form-input-wrapper">
														<input v-if="question.options.length > 0"
															name="css2023__features__${ question.id }__experience"
															value="custom"
															class="form-check-input"
															:type="question.multiple? 'checkbox' : 'radio'"
															:checked="!!option.value"
															disabled
															>
														<!-- If no predefined options, this is basically a freeform list
															No point in showing a checkbox, just show an index -->
														<span v-else>{{ index + 1 }}</span>
													</div>
													<div class="form-option">
														<div class="form-option-item">
															<span class="form-option-label">
																<!-- These are practically identical,
																	except that one is <input>, the other <textarea>
																	and they have different placeholder and aria-label.
																	In React they probably wouldn't need to be separate.
																 -->
																<input v-if="!question.longform"
																	v-model="option.value"
																	class="form-control custom-option"
																	:id="`css2023__features__${ question.id }__experience_custom.${ index }`"
																	:name="option.value ? `css2023__features__${ question.id }__experience_custom` : ''"
																	:placeholder="option.get_label(index)" :aria-label="option.get_label(index)"
																	@focus="option.active = true;" @blur="option.active = false;"
																	v-focus="option.active"
																	@input="question.custom_option_changed?.(index)"
																	@keydown="handle_keyup($event, {question, option, index})"
																	>
																<textarea v-else
																	v-model="option.value"
																	class="form-control custom-option"
																	:id="`css2023__features__${ question.id }__experience_custom.${ index }`"
																	:name="option.value ? `css2023__features__${ question.id }__experience_custom` : ''"
																	:placeholder="option.get_label(index)" :aria-label="option.get_label(index)"
																	@focus="option.active = true" @blur="option.active = false"
																	v-focus="option.active"
																	@input="question.custom_option_changed?.(index)"
																	@keydown="handle_keyup($event, {question, option, index})"
																	></textarea>

															</span>
														</div>
													</div>
												</div>
											</template>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
		<div class="section-sidebar"></div>
	</div>
</div>

</body>
</html>