@import url("../question.css");

/* For demo only */
body { padding-top: 2em; }

.form-option-item {
	flex: 1;
}

.form-check { /* Option container */
	.form-option-label {
		display: flex;

		> label {
			flex: 1;
		}
	}
}

/* double for specificity */
.custom-option-container.custom-option-container {
	padding-block: .3rem;
}


.custom-option {

}

