@import url("../question.css");

/* For demo only */
body { padding-top: 2em; }

.form-option-item {
	flex: 1;
}

/* Question container */
.form-input {
	container-name: question;
	container-type: inline-size;
}

.form-check { /* Option container */
	.form-option-label {
		display: flex;

		> label {
			flex: 1;
		}
	}
}

.custom-option-container {

}