@font-face {
	font-family: "Excalifont";
	src: url("/assets/fonts/Excalifont-Regular.woff2");
}

:root {
	--color-green-dark: #2f9e44;
	--color-lime-dark: #709517;
	--color-purple-dark: #9c36b5;
	--color-blue-dark: #0c8599;
	--color-red-dark: #e03131;
	--color-orange-dark: #f08c00;
	--color-text: #1e1e1e;

	color: var(--color-text);
	font-family: Excalifont, Segoe UI Emoji, cursive;
}

path {
	stroke-linecap: round;
}

path:not([fill]) {
	fill: none;
}

text {
	white-space: pre;
	dominant-baseline: alphabetic;
	fill: currentColor;
}

#grid {
	color: var(--color-text);
}

/* Grid lines */
path.grid {
	stroke: currentColor;
	stroke-width: 1;
}

/* Axis labels */
text.label {
	font-size: 28px;
	text-anchor: end;

	&.vertical {
		transform: rotate(-90deg) translate(-2em, -2.8em);
	}
}

text.curve-label {
	font-size: 36px;
}

.red {
	color: var(--color-red-dark);
}
