@font-face {
	font-family: "Excalifont";
	src: url("/assets/fonts/Excalifont-Regular.woff2");
}

:root {
	--color-green-dark: #2f9e44;
	--color-lime-dark: #709517;
	--color-purple-dark: #9c36b5;
	--color-blue-dark: #0c8599;
	--color-red-dark: #e03131;
	--color-orange-dark: #f08c00;
	--color-text: #1e1e1e;

	--color-bad: var(--color-red-dark);
	--color-ok: var(--color-orange-dark);
	--color-good: var(--color-lime-dark);
	--color-amazing: var(--color-green-dark);

	color: var(--color-text);
	font-family: Excalifont, Segoe UI Emoji, cursive;
}

path {
	stroke-linecap: round;
}

path:where(:not([fill])) {
	fill: none;
}

text {
	white-space: pre;
	dominant-baseline: alphabetic;
}

text,
.filled {
	fill: currentColor;
}

#grid {
	color: var(--color-text);
}

/* Grid lines */
path.grid,
.stroked {
	stroke: currentColor;
	stroke-width: 1;
}

/* Axis labels */
text.label {
	font-size: 28px;
	text-anchor: end;

	&.vertical {
		transform: rotate(-90deg) translate(-2em, -2.8em);
	}
}

text.curve-label {
	font-size: 36px;
}

.green,
.amazing {
	color: var(--color-green-dark);
}

.lime,
.good {
	color: var(--color-lime-dark);
}

.orange,
.ok {
	color: var(--color-orange-dark);
}

.red,
.bad {
	color: var(--color-red-dark);
}
