{% if disqus_id %}
<div id="disqus_thread"></div>
<script>
	/**
	 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT
	 *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR
	 *  PLATFORM OR CMS.
	 *
	 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT:
	 *  https://disqus.com/admin/universalcode/#configuration-variables
	 */

	var disqus_config = function () {
		// Replace PAGE_URL with your page's canonical URL variable
		this.page.url = 'https://lea.verou.me/{{ postUrlStem }}/';

		// Replace PAGE_IDENTIFIER with your page's unique identifier variable
		this.page.identifier = "{{ disqus_id }}";
	};

	(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
		var d = document, s = d.createElement('script');

		// IMPORTANT: Replace EXAMPLE with your forum shortname!
		s.src = 'https://leaverou.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
{% else %}
<script src="https://giscus.app/client.js"
		data-repo="leaverou/lea.verou.me"
		data-repo-id="R_kgDOJdBMuA"
		data-category="Blog Comments"
		data-category-id="DIC_kwDOJdBMuM4CliEq"
		data-mapping="og:title"
		data-strict="1"
		data-reactions-enabled="1"
		data-emit-metadata="0"
		data-input-position="top"
		data-theme="preferred_color_scheme"
		data-lang="en"
		data-loading="lazy"
		crossorigin="anonymous"
		async>
</script>
{% endif %}

