{% if not post.data.draft %}
<article class="post" id="{{post.fileSlug}}">
	<header>
		<h2>
			<a href="{{ post.url | url }}">{{ post.data.title }}</a>
		</h2>
		<div class="post-meta">
			<time datetime="{{ post.date.toISOString() }}">{{ post.date.toLocaleString("en-gb", {
				dateStyle: "long"
			}) }}</time>
		</div>
	</header>
	<div class="summary">
		{% if post.data.summary %}
			{{ post.data.summary | md | safe }}
		{% elseif post.data.page.excerpt %}
			{{ post.data.page.excerpt | md | safe }}
		{% else %}
			{{ post.content | md | safe }}
		{% endif %}
	</div>

	<footer class="post-meta">
		<div class="tags">
			{% for tag in post.data.tags %}{% if tag != "blog" %}
			<a href="/blog/tag/{{ tag }}">{{ tag }}</a>{% if loop.revindex0 > 0 %}<span class="comma">, </span>{% endif %}
			{% endif %}{%- endfor -%}
		</div>
	</footer>
</article>

<hr>
{% endif %}
