{% macro one(post, o = {}) %}
{% if o.style === "compact" %}
<li>
	<a class="title" href="{{ post.url | url }}">{{ post.data.title }}</a>
	{{ meta_before(post, o) }}
</li>
{% else %}
<article class="post" id="{{ post.fileSlug }}">
	<header>
		<h2>
			<a href="{{ post.url | url }}">{{ post.data.title }}</a>
		</h2>
		<div class="meta">
			{{ meta_before(post, o) }}
		</div>
	</header>
	{% set summary = post.data.summary or post.data.page.excerpt %}
	<div class="summary">
		{%- if summary -%}
			{{ summary | md({url: post.data.page.url}) | safe }}
			<p><a href="{{ post.url | url }}" class="call-to-action">Continue reading</a></p>
		{%- else -%}
			{{ post.content | md({url: post.data.page.url}) | safe }}
		{%- endif -%}
	</div>

	<footer class="meta">
		{{ meta_after(post, o) }}
	</footer>
</article>
{% endif %}
{% endmacro -%}

{%- macro list(posts, o = {}) %}
{% if o.style === "compact" %}<ol class="subtle-markers posts compact" reversed start="{{ o.start }}">{% endif %}
{% for post in posts %}
	{% if not (post.data.draft or post.data.unlisted) -%}

	{%- set np = posts[loop.index0 + 1] -%}
	{# No idea why this doesn't work as a macro argument to one()... #}
	{%- if np and o.style !== "compact" -%}
	<a href="#{{ np.fileSlug }}" class="skip-to-next" title="Skip to next post: {{ np.data.title }}"><i class="bi bi-arrow-down-circle"></i></a>
	{%- endif %}
	{{ one(post, o) }}
	{% if o.style !== "compact" %}<hr>{% endif %}
	{% endif %}
{% endfor %}
{% if o.style === "compact" %}</ol>{% endif %}
{% endmacro %}

{% macro meta_before(post, o = {}) %}
	{% set content = post.content or content %}
	{% set disqus_id = post.data.disqus_id if post.data else disqus_id %}
	{% set date_updated = post.data.date_updated if post.data else date_updated %}

	<time class="metabit dt-published" datetime="{{ post.date | format_date("iso") }}">{{ post.date | format_date("medium" if o.style === "compact" else "long") }}</time>

	{% if date_updated -%}
	<time class="metabit dt-updated" datetime="{{ date_updated | format_date("iso") }}" title="Last Updated">{{ date_updated | format_date("medium" if o.style === "compact" else "long") }}</time>
	{%- endif %}

	{% set rt = content | reading_time %}
	<span class="metabit reading-time" title="{{ rt.words }} words">{{ rt.text | replace(" read", "") if o.style === "compact" else rt.text }}</span>

	{% if disqus_id -%}
	<span class="metabit disqus-comment-count comment-count" data-disqus-identifier="{{ disqus_id }}">0 comments</span>
	<script id="dsq-count-scr" src="https://leaverou.disqus.com/count.js" async></script>
	{%- endif %}

	{% if not toc and o.style !== "compact" -%}
	{%- include "_broken-page.njk" -%}
	{%- endif %}

	{%- if social_posts -%}
	<div class="metabit social">
	{%- for service, url in social_posts -%}
		{% if social[service] -%}
		<a href="{{ url }}"
		   class="{{ service }}"
		   title="{{ social[service].name }} post"
		   style="--color: {{ social[service].color }}"
		   target="_blank"><i class="bi bi-{{ social[service].icon }}"></i></a>
		{%- endif %}
	{%- endfor -%}
	</div>
	{%- endif -%}
{% endmacro %}

{% macro meta_after(post, o = {}) %}
	{% import "_tags.njk" as tagsUtil with context %}
	{% set tags = post.data.tags if post.data else tags %}
	{% set page = post.data.page if post.data else page %}
	{{ tagsUtil.list(tags) }}
	<a href="https://github.com/LeaVerou/lea.verou.me/edit/main{{ page.url }}index.md" class="metabit edit-page">Edit post on GitHub</a>
{% endmacro %}