{% macro one(post, o = {}) %}
{% if o.style === "compact" %}
<li>
	<a href="{{ post.url | url }}">{{ post.data.title }}</a>
	<time datetime="{{ post.date | format_date("iso") }}">{{ post.date | format_date("medium") }}</time>
</li>
{% else %}
<article class="post" id="{{ post.fileSlug }}">
	<header>
		<h2>
			<a href="{{ post.url | url }}">{{ post.data.title }}</a>
		</h2>
		<div class="meta">
			{{ meta_before(post) }}
		</div>
	</header>
	{% set summary = post.data.summary or post.data.page.excerpt %}
	<div class="summary">
		{% if summary %}
			{{ summary | md({url: post.data.page.url}) | safe }}
			<p><a href="{{ post.url | url }}" class="call-to-action">Continue reading</a></p>
		{% else %}
			{{ post.content | md({url: post.data.page.url}) | safe }}
		{% endif %}
	</div>

	<footer class="meta">
		{{ meta_after(post) }}
	</footer>
</article>
{% endif %}
{% endmacro %}

{% macro list(posts, o = {}) %}
{% if o.style === "compact" %}<ol class="subtle-markers posts-list" reversed start="{{ o.start }}">{% endif %}
{% for post in posts %}
	{% if not (post.data.draft or post.data.unlisted) %}

	{% set np = posts[loop.index0 + 1] %}
	{# No idea why this doesn't work as a macro argument to one()... #}
	{% if np and o.style !== "compact" %}
	<a href="#{{ np.fileSlug }}" class="skip-to-next" title="Skip to next post: {{ np.data.title }}"><i class="bi bi-arrow-down-circle"></i></a>
	{% endif %}
	{{ one(post, o) }}
	{% if o.style !== "compact" %}<hr>{% endif %}
	{% endif %}
{% endfor %}
{% if o.style === "compact" %}</ol>{% endif %}
{% endmacro %}

{% macro meta_before(post) %}
	{% set content = post.content or content %}
	{% set disqus_id = post.data.disqus_id if post.data else disqus_id %}

	<time datetime="{{ post.date | format_date("iso") }}">{{ post.date | format_date("long") }}</time>

	{% set rt = content | reading_time %}
	<span class="reading-time" title="{{ rt.words }} words">{{ rt.text }}</span>

	{% if disqus_id %}
	<span class="disqus-comment-count comment-count" data-disqus-identifier="{{ disqus_id }}">0 comments</span>
	<script id="dsq-count-scr" src="https://leaverou.disqus.com/count.js" async></script>
	{% endif %}
{% endmacro %}

{% macro meta_after(post) %}
	{% import "_tags.njk" as tagsUtil with context %}
	{% set tags = post.data.tags if post.data else tags %}
	{% set page = post.data.page if post.data else page %}
	{{ tagsUtil.list(tags) }}
	<a href="https://github.com/LeaVerou/lea.verou.me/edit/main{{ page.url }}index.md" class="edit-page">Edit post on GitHub</a>
{% endmacro %}