{% for service in social %}
	<a class="{{ service.name | lower }}"
	href="{{ service.url }}"
	target="_blank" rel="me"
	aria-label="{{ service.name }}"><i class="bi bi-{{ service.icon }}"></i></a>
{% endfor %}