{% macro render(tags) %}
{% if tags and tags.length > 0 %}
<div class="tags">
	{% for tag in tags %}
	{% if tag != "blog" %}<a href="/blog/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
	{% endif %}
	{% endfor %}
</div>
{% endif %}
{% endmacro %}