{% macro list(tags) %}
{% if tags and tags.length > 0 %}
<div class="tags">
	{% for tag in tags | real_tags_only %}
	{{ one(tag) }}{% if not loop.last %}, {% endif %}
	{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro one(tag) %}
{% set aliases = collections.postsByTag[tag].aliases %}
{% if collections[tag].length > 1 %}
<a href="/blog/tags/{{ tag }}" title="{{ "aka " + aliases | format_tag + ", " if aliases }}{{ collections[tag].length }} posts with this tag" class="tag">
{{ tag | format_tag }}</a>{% else %}
<span class="tag orphan" title="Only one post with this tag">{{ tag | format_tag }}</span>{% endif %}{% endmacro %}

