{% macro list(tags) %}
{% if tags and tags.length > 0 %}
<div class="tags">
	{% for tag in tags | real_tags_only %}
	{{ one(tag) }}{% if not loop.last %}, {% endif %}
	{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro one(tag) %}
{% if collections[tag].length > 1 %}
<a href="/blog/tags/{{ tag }}" title="{{ collections[tag].length - 1 }} other posts with this tag">
{{ tag | format_tag }}</a>{% else %}
<span class="orphan-tag" title="No other posts with this tag">{{ tag | format_tag }}</span>{% endif %}{% endmacro %}

