{% macro list(tags) %}
{% if tags and tags.length > 0 %}
<div class="tags">
	{% for tag in tags | real_tags_only %}
	{{ one(tag) | safe }}{% if not loop.last %}, {% endif %}
	{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro one(tag) %}<a href="/blog/tags/{{ tag }}">{{ tag | format_tag }}</a>{% endmacro %}

