---
layout: "page.njk"
---

{{ content | safe }}

<footer class="post-meta">
	<div class="tags">
		{% for tag in tags %}
		{% if tag != "blog" %}<a href="/blog/tag/{{ tag }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
		{% endif %}

		{% endfor %}
	</div>
</footer>