<!DOCTYPE html>
<html lang="en" vocab="https://schema.org/">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}{% if title %} &bull; {% endif %}Lea Verou</title>
	<link rel="shortcut icon" href="/logo.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ includes | safe }}
	<link rel="stylesheet" href="/assets/style.css">
	{{ includesEnd | safe }}
</head>
<body>

<header>
	<div class="site-meta">
		<a href="/" class="site-logo">
			<img property="image" src="/mark.svg" alt="">
			<span class="site-title" title="Life at the bleeding edge (of the Web)">Lea Verou</span>
		</a>
		<div class="social">{% include "_social.njk" %}</div>
		<nav>{% include "_nav.njk" %}</nav>
	</div>
	<div class="page-meta">
		{% if page.url and page.url !== "/" %}
			<h1>
				<span property="name">
					{% if heading %}
						{{ heading }}
					{% elseif title %}
						{{ title }}
					{% else %}
						Lea Verou
					{% endif %}
				</span>
			</h1>
		{% endif %}
		{% if page.date %}
		<div class="post-meta">
			<time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleString("en-gb", {
				dateStyle: "long"
			}) }}</time>
		</div>
		{% endif %}
	</div>
</header>

<main>
{{ content | safe }}
</main>

<footer>
	<section class="social">
		<h4>Social Me</h4>
		{% include "_social.njk" %}
	</section>
	<nav>
		{% include "_nav.njk" %}
	</nav>


	<small>
		<div class="copyright">&copy;2009&ndash;{{ currentYear }} Lea Verou</div>
		<div class="credits">Powered by <a href="https://11ty.dev/">Eleventy</a>, hosted by <a href="https://netlify.com">Netlify</span></div>
		<a href="#" class="to-top">
			<span class="long-text">To the top</span>
			<span class="short-text">Up</span>
			<span class="arrow" aria-hidden="true">↑</span>
		</a>
	</small>
</footer>

<script src="/assets/global.js" type="module"></script>

</body>
</html>
