<!DOCTYPE html>
<html lang="en" vocab="https://schema.org/"
	data-area="{{ siteArea }}"
	data-page="{{ page.url }}"
	data-inputpath="{{ page.inputPath | replace("./", "") }}"
	{{ "class" | token_if({'has-toc': toc, 'post-page': is_post, 'use-disqus': disqus_id}) | safe }}
>
<head>
	<meta charset="UTF-8">
	{%- set title_plain -%}
		{{ title | md | striptags }}{% if title %} • {% endif %}Lea Verou
	{%- endset -%}
	<title>{{ title_plain }}</title>
	<meta property="og:title" content="{{ title_plain }}" />
	<meta name="twitter:title" content="{{ title_plain }}" />

	<link rel="shortcut icon" href="{{ page | relative }}/mark.svg" />
	<link rel="dns-prefetch" href="https://kit.fontawesome.com">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Lea Verou">
	{% if draft or unlisted %}<meta name="robots" content="noindex">{% endif %}

	{% if mavo %}
	<link rel="stylesheet" href="https://get.mavo.io/mavo.css">
	<script src="https://get.mavo.io/mavo.js"></script>
	{% endif %}

	{{ includes | safe }}
	<link rel="stylesheet" href="{{ page | relative }}/assets/style.css">
	{% if page_css %}
	<link rel="stylesheet" href="{{ "style.css" if page_css == true else page_css }}">
	{% endif %}
	{{ includesEnd | safe }}
	<link rel="alternate" type="application/atom+xml" title="Lea Verou • Feed" href="{{ page | relative }}/feed.xml" />
	<script src="{{ page | relative }}/assets/global.js" type="module"></script>

	{% if is_post -%}
		<meta property="og:type" content="article" />
		<meta property="article:author" content="Lea Verou" />
		{% if date -%}
			<meta property="article:published_time" content="{{ date | format_date('iso') }}" />
			{% if date_updated -%}
			<meta property="article:modified_time" content="{{ date_updated | format_date('iso') }}" />
			{%- endif %}
		{%- endif %}

		{% for tag in tags -%}
		<meta property="article:tag" content="{{ tag | format_tag }}" />
		{%- endfor %}
	{%- endif %}

	{% set summary = nutshell or page.excerpt %}
	{% if summary -%}
	{% set summary_plain = summary | md_block | striptags %}
	<meta name="description" content="{{ summary_plain }}" />
	<meta property="og:description" content="{{ summary_plain }}" />
	<meta name="twitter:description" content="{{ summary_plain }}" />
	{%- endif %}

	{% if image -%}
	<meta property="og:image" content="{{ image | absolutize(page.url) }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image" content="{{ image | absolutize(page.url) }}" />
	{%- endif %}
</head>
<body class="language-{{ defaultLanguage or "css" }} {{ body_classes }}">
{% import "_nav.njk" as nav with context %}
<header class="monitor-in-view">
	<div class="site-meta">
		<a href="{{ page | relative }}/" class="site-logo">
			<img property="image" src="{{ page | relative }}/mark.svg" alt="">
			<span class="site-title" title="Life at the bleeding edge (of the Web)">
				Lea Verou<span class="phd">, PhD</span>
			</span>
		</a>
		<div class="social gt-md">{% include "_social.njk" %}</div>
		<nav class="gt-md">{{ nav.render(nav_links) }}</nav>
		<a href="#nav" class="🍔 lt-md"><i class="fa-solid fa-burger"></i></a>
	</div>
	<div class="page-meta">
		{% if page.url and page.url !== "/" %}
			<h1>
				<span property="name">
					{% if heading %}
						{{ heading }}
					{% elseif title %}
						{{ title | md }}
					{% else %}
						Lea Verou
					{% endif %}
				</span>
			</h1>
		{% endif %}
		{% if is_post or is_spec %}
		{% import "_posts.njk" as posts with context %}
		<div class="meta">
			{{ posts.meta_before(page) }}
		</div>
		{% endif %}
	</div>
</header>

<main>

{%- if draft -%}
<section class="info" style="--label: 'Here be dragons'">
	<strong>This is an unpublished draft.</strong> It may be incomplete, contain errors or be completely wrong.
	Please check back later for the finished version, or <a href="{{ page | relative }}/feed.xml">subscribe</a> to my feed to be notified.
</section>
{%- endif %}

{% if toc %}
<aside id="toc">
	<h4>On this page</h4>
	{{ content | toc | safe }}
</aside>
{% endif %}

{% if nutshell -%}
<div class="nutshell">{{ nutshell | md_block }}</div>
{%- endif %}

{{ content | safe }}

<footer>
	{% if is_post %}
		<div class="cta-container">
			<small>Enjoyed this post? Want more like it?</small>
			<a href="https://ko-fi.com/leaverou" target="_blank" class="cta large sponsor">Pay what you want</a>
		</div>
	{% endif %}
	<div class="meta">
		{%- include "_broken-page.njk" -%}
		{% if is_post %}
			{% import "_posts.njk" as posts with context %}
			{{ posts.meta_after(page) }}
		{% else %}
			<a href="https://github.com/LeaVerou/lea.verou.me/edit/main{{ page.url }}index.md" class="metabit edit-page">Edit page on GitHub</a>
		{% endif %}
	</div>

	{% if is_post %}
		{% set previousPost = collections.blog | getCollectionItemIndex | prev_post(collections.blog) %}
		{% set nextPost = collections.blog | getCollectionItemIndex | next_post(collections.blog) %}
		{% if previousPost or nextPost %}
		<div class="prev-next">
			{% if previousPost %}<a href="{{ previousPost.url }}" class="prev">{{ previousPost.data.title | md }}</a>{% endif %}
			{% if nextPost %}<a href="{{ nextPost.url }}" class="next">{{ nextPost.data.title | md }}</a>{% endif %}
		</div>
		{% endif %}
	{% endif %}
</footer>

{% if is_post %}


{% if social_posts.bluesky %}
<h2>Reactions</h2>
<script src="https://unpkg.com/bluesky-likes" type="module"></script>
<section id="bluesky-likes">
	<h3>
		<bluesky-likes src="{{ social_posts.bluesky }}"></bluesky-likes>
		likes on Bluesky
	</h3>

	<bluesky-likers src="{{ social_posts.bluesky }}"></bluesky-likers>
	<p>
		<a href="{{ social_posts.bluesky }}" target="_blank">Like this post on Bluesky to see your face on this page</a>
	</p>
</section>

<h3>Comments</h3>
{% endif %}

{%- include "_comments.njk" -%}
{% endif %}

</main>

<footer>
	<section class="social">
		<h4>Social Me</h4>
		{%- include "_social.njk" -%}
	</section>
	<nav id="nav">
		<h4>About me</h4>
		{{ nav.render(nav_links, "footer") }}
	</nav>

	<small>
		<a href="{{ page | relative }}/credits/#licensing" title="Licensing details" class="copyright">&copy;2009&ndash;{{ currentYear }} Lea Verou</a>
		<span class="credits">Powered by <a href="https://11ty.dev/">Eleventy</a>, <a href="https://netlify.com">Netlify</a>, and <a href="{{ page | relative }}/credits/">more</a></span>
		<a href="#" class="to-top">
			<span class="long-text">To the top</span>
			<span class="short-text">Up</span>
			<span class="arrow" aria-hidden="true">↑</span>
		</a>
	</small>
</footer>

</body>
</html>
