<!DOCTYPE html>
<html lang="en" vocab="https://schema.org/">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}{% if title %} &bull; {% endif %}Lea Verou</title>
	<link rel="shortcut icon" href="/logo.svg" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ includes | safe }}
	<link rel="stylesheet" href="/assets/style.css">
	{{ includesEnd | safe }}
</head>
<body>

<header>
	<div class="header-inner">
		<a href="/" class="site-logo">
			<img property="image" src="/mark.svg" alt="">
			<span class="site-title" title="Life at the bleeding edge (of the Web)">Lea Verou</span>
		</a>
		<div class="social">
			<a class="twitter" href="http://twitter.com/leaverou" target="_blank" title="Twitter"><i class="bi bi-twitter"></i></a>
			<a class="mastodon" href="https://front-end.social/@leaverou" target="_blank" title="Mastodon"><i class="bi bi-mastodon"></i></a>
			<a class="github" href="http://github.com/leaverou" target="_blank" title="Github"><i class="bi bi-github"></i></a>
		</div>

		<nav>
			<a href="/">Home</a>
			<a href="/blog/">Blog</a>
			<a href="/projects/">Projects</a>
			<a href="/speaking/">Speaking</a>
			<a href="/publications/">Publications</a>
			<a href="/press/">Press</a>
			<a href="/interviews/">Interviews</a>
			<a href="/about/">About</a>
		</nav>
	</div>
{% if page.url and page.url !== "/" %}
	<h1>
		<span property="name">
			{% if heading %}
				{{ heading }}
			{% elseif title %}
				{{ title }}
			{% else %}
				Lea Verou
			{% endif %}
		</span>
	</h1>
{% endif %}
</header>

<main>
{{ content | safe }}
</main>

<script src="/assets/global.js" type="module"></script>

</body>
</html>
