/* Shadow DOM CSS */
:host(time-line) {
	display: grid;
	grid-template-columns: auto repeat(var(--increments), 1fr);
	position: relative;
}

:host(time-line) #range {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 2 / -1;
	color: var(--color-gray-medium);
}

:host(time-line) #range .increment {
	--padding-inline-start: .2em;
	padding-inline-start: var(--padding-inline-start);
}

:host(time-line) #range .increment::before {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	background: var(--color-gray-30a, hsl(220 10 50 / 30%));
	width: 1px;
	margin-inline-start: calc(-1 * var(--padding-inline-start));
}

/* Light DOM CSS */
time-line dl {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / -1;
	margin-top: .2em;

	dt, dd {
		border-block: 0;
		padding-block: .3em;

		&:where(:nth-of-type(even)) {
			background-color: var(--color-gray-5a, hsl(220 10 50 / 5%));
		}
	}

	dt {
		grid-column: 1;
		padding-inline-start: .5em;
	}

	dd {
		display: grid;
		grid-template-columns: subgrid;
		grid-column: 2 / span var(--increments);
		padding-inline: 0;

		> * {
			width: 0;
			grid-column: calc(var(--offset) + 1) / -1;
			margin-left: calc(var(--sub-offset) * 100% / var(--increments));
		}

		time {
			white-space: nowrap;
		}
	}



	time {
		--_circle-diameter: var(--circle-diameter, .4em);
		--_line-thickness: var(--line-thickness, .1em);
		--_line-height: var(--line-height, 1.7em);
		--_color: var(--color, var(--color-gray-50));

		padding-left: -.7em;
		transition: max(.2s, .05s * var(--row));
		cursor: help;

		&::before {
			content: " ";
			position: absolute;
			z-index: -1;
			width: var(--_circle-diameter);
			background:
				radial-gradient(closest-side circle, var(--_color) 99%, transparent 100%) no-repeat bottom / var(--_circle-diameter) var(--_circle-diameter),
				linear-gradient(var(--color), var(--color)) no-repeat 50% 0 / var(--_line-thickness) var(--_line-height);
			top: 0;
			padding-top: .9em;
			height: calc(var(--row) * 2.1em);
			margin-left: -.7em;
			transition: inherit;
		}
	}

	dt:hover,
	dt:hover + dd,
	dd:hover,
	dt:has(+ dd:hover) {
		background-color: var(--hover-color);

		time {
			--line-thickness: .15em;
			--line-height: calc(100% - var(--_circle-diameter));
			z-index: 1;
			color: color-mix(in oklch, canvastext, var(--_color) 70%);
		}
	}
}