@import url("../question.css");

/* For demo only */
body { padding-top: 2em; }

.comment-trigger-wrapper {
	display: inline-flex;
	align-items: center;
}

.comment-input-prompt {
	font-size: 1rem;
	margin-bottom: .4em;
}

.form-option-item {
	flex: 1;
}

/* Question container */
.form-input {
	container-name: question;
	container-type: inline-size;
}

.sentiments {
	display: inline-flex;
	gap: .6em;
	margin-left: .8em;
}

@keyframes arrow {
	from, 40% {
		transform: translateY(var(--animation-offset));
	}

	20%, 60%, to {
		transform: none;
	}
}

.sentiment {
	display: flex;
	align-items: center;
	--_color: var(--color, var(--bs-blue));
	border: 1px solid hsl(0 0% 100% / .3);
	padding: 0.1em .8em 0.05em;
	border-radius: 999px;
	background: color-mix(in lab, var(--_color), transparent calc((1 - var(--a, .2)) * 100%)) linear-gradient(hsl(0 0% 100% / .1), transparent) border-box;
	color: white;
	font-size: 70%;
	transition: .1s;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
}

.sentiment::before {
		margin-right: .3em;
		scale: 1.15;
	}

.sentiment.positive {
		--color: var(--bs-success);
	}

.sentiment.positive::before {
			content: "↑";
			--animation-offset: -.1em;
		}

.sentiment.negative {
		--color: var(--bs-danger);
	}

.sentiment.negative::before {
			content: "↓";
			--animation-offset: .1em;
		}

.sentiment:hover,
	.sentiment:focus-within {
		--a: .6;
		color: white;
	}

.sentiment:hover::before, .sentiment:focus-within::before {
			animation: arrow .7s 3 alternate;
		}

.sentiment:active {
		background-image: none;
		transform: scale(.97) translateY(.1em);
	}

.sentiment:focus-within {
		box-shadow: 0 0 .3em .1em var(--_color);
	}

.sentiment .sentiment-label {
		transition-duration: .4s;
		transition-property: letter-spacing, opacity;
	}

/* Selected sentiment */

.sentiment:has(> :checked) {
		position: relative;
		--a: 1;
		border-color: hsl(0 0% 100% / .9);
	}

.sentiment:has(> :checked)::after {
			content: "✓";
			position: absolute;
			top: -.4em;
			right: -.6em;
			padding: .2em;
			border-radius: 50%;
			background: white;
			color: var(--_color);
			font-weight: bold;
			width: 1em;
			box-sizing: content-box;
			font-size: 80%;
			line-height: 1;
		}

@container question (width <= 500px) { /* mobile */
		/* Not selected */
			.sentiment:not(:has(> :checked))::before {
				margin-right: 0;
			}

			.sentiment:not(:has(> :checked)) .sentiment-label {
				letter-spacing: -1ch;
				opacity: 0;
			}
	}

/* Option container */

.form-check .form-option-label {
		display: flex;
		position: relative;
	}

.form-check .form-option-label > label {
			gap: .4em;
			flex: none;

			/* Expand clickable area to whole row */
		}

.form-check .form-option-label > label::after {
				content: "";
				position: absolute;
				inset: 0;
			}

.form-check .form-option-label .comment-trigger-wrapper {
			position: relative;
			flex: 1;
			z-index: 1;
			pointer-events: none;
		}

.form-check .form-option-label .comment-trigger-wrapper > * {
				pointer-events: auto;
			}

.form-check .form-option-label .comment-trigger-wrapper .comment-trigger {
				margin-left: auto;
				padding: 0;
			}

.form-check .form-option-label .comment-trigger-wrapper:not(
				
				:has(.sentiment > :checked),

				
				.form-check:is(:hover, :active, :focus-within) *,

				
				.form-check.selected *
			) {
				opacity: 0;
			}

@keyframes comments-open {
	from {
		transform: scale(0);
		opacity: 0;
		max-height: 0;
		padding-block: 0;
	}

	to {
		max-height: 8em;
	}
}

@keyframes comments-open-textarea {
	from {
		max-height: calc(100% - 2.3em);
		min-height: 0;
	}
}

.comment-input {
	z-index: 1;
	position: relative;
	--background-color: color-mix(in lab, var(--bg-color), white 25%);
	background: var(--background-color);
	margin: .4em 0;
	border-radius: .2em;
	transform-origin: calc(100% - 21px) -12px;
	overflow: clip;
	overflow-clip-margin: 12px;
}

.comment-input, .comment-input textarea {
		animation: .3s comments-open both ease-in;
	}

.comment-input textarea {
		animation-name: comments-open-textarea;
	}

.comment-input::after {
		right: 10px;
		left: auto;
		border-bottom-color: var(--background-color);
	}