:root {
	--icon-font: var(--fa-font-regular), var(--fa-style-family-brands);

	--icon-arrow-down-to-line: "\f33d";
	--icon-circle-arrow-left: "\f0a8";
	--icon-circle-arrow-right: "\f0a9";
	--icon-briefcase: "\f0b1";
	--icon-bug: "\f188";
	--icon-chrome: "\f268";
	--icon-clipboard-check: "\f46c";
	--icon-comment: "\f075";
	--icon-calendar-day: "\f783";
	--icon-pen-to-square: "\f044";
	--icon-triangle-exclamation: "\f071";
	--icon-firefox: "\f269";
	--icon-flag: "\f024";
	--icon-github: "\f09b";
	--icon-link: "\f0c1";
	--icon-info: "\f129";
	--icon-lightbulb: "\f0eb";
	--icon-newspaper: "\f1ea";
	--icon-npm: "\f3d4";
	--icon-question: "\3f";
	--icon-square-rss: "\f143";
	--icon-safari: "\f267";
	--icon-timer: "\e29e";
	--icon-star: "\f005";
	--icon-tags: "\f02c";
	--icon-heart: "\f004";
}
