@import url("prism.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
	font-style: normal;
	font-display: swap;
	src: url(fonts/Inter-upright-var.woff2) format("woff2");
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
	font-style: italic;
	font-display: swap;
	src: url(fonts/Inter-italic-var.woff2) format("woff2");
}

:root {
	--font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	--font-serif: "Hoefler Text", Garamond, "Times New Roman", serif;
	--font-monospace: Consolas, Menlo, Monaco, source-code-pro, monospace;

	--color-magenta: #f06;
	--color-orange: #f73;
	--color-accent: var(--color-magenta);
	--color-accent2: var(--color-orange);

	--gray: 220 10%;
	--color-gray-medium: hsl(var(--gray) 50%);
	--color-gray-light: #dedfdf;
	/* --color-light-1: #dcd7ca; */
	--color-light-1: hsl(35 100% 90%);
	/* --color-light-2: #f5efe0; */
	--color-light-2: hsl(35 100% 95%);
	--color-light-3: hsl(35 100% 99%);

	--width-thin: 50rem;

	--content-width: var(--width-thin);
	--content-margin: clamp(var(--min-padding), 50vw - var(--content-width) / 2, 25vw);
	--min-padding: 1rem;
}

@supports ( font-variation-settings: normal ) {

:root {
		--font-sans: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}
	}

@media (width <= 700px) {

:root {
		--content-width: calc(100vw - 2 * var(--min-padding));
}
	}

:nth-child(1) { --index: 1; }
:nth-child(2) { --index: 2; }
:nth-child(3) { --index: 3; }
:nth-child(4) { --index: 4; }
:nth-child(5) { --index: 5; }
:nth-child(6) { --index: 6; }
:nth-child(7) { --index: 7; }
:nth-child(8) { --index: 8; }
:nth-child(9) { --index: 9; }
:nth-child(n + 10) { --index: 10; }

html {
	color: black;
	font: 110%/1.5 var(--font-sans);
	letter-spacing: -0.015em;
}

@media (width > 700px) {

html {
		font-size: 130%;
}

		html.supports-registerproperty {
			xanimation: to1 600s linear infinite;
		}
	}

body {
	background: var(--color-light-3);
	box-sizing: border-box;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 800;
	letter-spacing: -0.03em;
	line-height: 1.1;
	font-family: var(--font-sans);
	margin: 3.5rem 0 2rem;
	text-wrap: balance;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
	}

h1 > a:only-child, h2 > a:only-child, h3 > a:only-child, h4 > a:only-child, h5 > a:only-child, h6 > a:only-child {
		text-decoration: none;
	}

h1 > a:only-child:hover, h2 > a:only-child:hover, h3 > a:only-child:hover, h4 > a:only-child:hover, h5 > a:only-child:hover, h6 > a:only-child:hover {
			color: inherit;
		}

h1 {
	font-size: 220%;
}

@media (width > 700px) {

h1 {
		font-size: 400%;
}
	}

h2 {
	font-size: 180%;
}

@media (width > 700px) {

h2 {
		font-size: 250%;
}
	}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2.1rem;
}

h6 {
	font-size: 1.6rem;
	letter-spacing: 0.03125em;
	text-transform: uppercase;
}

p {
	line-height: 1.5;
	margin: 0 0 1em 0;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}

a:hover,
	a:focus {
		color: var(--color-accent2);
		text-decoration: underline;
	}

hr {
	background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
	background-color: transparent !important;
	border: none;
	height: 1px;
	overflow: visible;
	position: relative;
	font-size: 80%;
	margin-top: 3em;
}

hr:not(.has-background) {
		color: var(--color-gray-medium);
	}

hr::before {
		content: "";
		background: url("/logo.svg") center / cover no-repeat;
		height: 1.6em;
		aspect-ratio: 1;
		position: absolute;
		top: -1.2em;
		left: 50%;
		transform: translateX(-50%);
		filter: grayscale();
		opacity: .8;
	}

video, img {
	max-width: 100%;
}

pre, code {
	font-family: var(--font-monospace);
}

@property --number {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

@keyframes to1 {
	from { --number: 0; }
	to { --number: 1; }
}

.social {
	display: flex;
	flex-flow: column;
	gap: .5rem;
}

.social a {
		display: flex;
		gap: .5em;
		text-decoration: none;
	}

.social a::after {
			font-weight: bold;
		}

.social a i {
			display: inline-flex;
			width: 1em;
			line-height: 1;
			padding: .3em;
			box-sizing: content-box;
			border-radius: 50%;
			background: var(--color-accent);
			color: white;
			transition: .2s transform;
		}

.social a i:is(:hover > *) {
				background: var(--color-accent2);
				transform: scale(1.2);
			}

body > header {
	position: relative;
	padding: var(--min-padding);
	--header-bg-center: calc(var(--min-padding) + .75em) calc(2em - var(--scrolltop, 0) * 1px);
	background: repeating-conic-gradient(from calc(var(--number, 0) * 1turn) at var(--header-bg-center), var(--color-light-1) 0 4deg, transparent 0 8deg) fixed;
	background-color: var(--color-light-2);
}

body > header .site-meta {
		display: flex;
		align-items: center;
	}

body > header .site-meta .site-logo {
			display: flex;
			gap: .5em;
			align-items: center;
			flex-shrink: 0;
			color: inherit;
			text-decoration: none;
		}

body > header .site-meta .site-logo img {
				max-height: 2.5rem;
				width: auto;
			}

body > header .site-meta .site-logo .site-title {
				color: var(--color-accent);
				font-size: 150%;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1;
				white-space: nowrap;
			}

body > header .site-meta nav {
			display: flex;
			gap: 1em;
			margin-left: auto;
			font-size: 75%;
			font-weight: 500;
		}

body > header .site-meta nav a {
				color: var(--color-accent);
				word-break: initial;
				word-wrap: initial;
			}

body > header .site-meta nav a:not(:hover) {
					text-decoration: none;
				}

body > header .site-meta nav a.selected {
					position: relative;
					margin: 0 .5em;
				}

body > header .site-meta nav a.selected::before,
					body > header .site-meta nav a.selected::after {
						position: absolute;
						font-weight: 500;
						font-size: 180%;
						top: 50%;
						transform: translateY(-55%);
					}

body > header .site-meta nav a.selected::before {
						content: "{";
						right: 100%;
					}

body > header .site-meta nav a.selected::after {
						content: "}";
						left: 100%;
					}

body > header .site-meta .🍔 {
			margin-left: auto;
		}

body > header .site-meta .social {
			position: absolute;
			left: 1.6rem;
			top: 4.25rem;
			font-size: 80%;
		}

body > header .site-meta .social a {
				--link-index: var(--index);
			}

body > header .site-meta .social a:hover::after {
					content: attr(aria-label);
				}

body > header .site-meta .social a i {
					scale: calc(1.1 - var(--link-index) * .08);
				}

body > header .page-meta {
		padding: 0 var(--content-margin);
	}

body > header h1 {
		text-align: center;
	}

body > main {
	padding: 2rem var(--content-margin) 1rem;
	font-family: var(--font-serif);
}

body > footer {
	display: grid;
	gap: 1em;
	padding: var(--min-padding) var(--content-margin);
	margin-top: 2em;
	background: repeating-conic-gradient(from calc(var(--number, 0) * 1turn) at calc(100% + 1em) calc(100% + 1em), rgb(0 0 0 / .1) 0 4deg, transparent 0 8deg) fixed;
	background-color: hsl(var(--gray) 23%);
	border: 0 solid hsl(var(--gray) 95% / .2);
	color: white;
}

body > footer h4 {
		padding: .3em 1em;
		width: max-content;
		column-span: all;
		align-self: start;
		margin: 0;
		margin-bottom: .4rem;
		background: var(--color-accent);
		color: hsl(var(--gray) 20%);
		font-size: .8em;
		text-transform: uppercase;
		--offset: .5em;
		clip-path: polygon(var(--offset) 0, 100% 0, calc(100% - var(--offset)) 100%, 0 100%);
		margin-left: calc(-1 * var(--offset));

	}

body > footer > :has(> h4) {
		margin-top: -1.5rem;
	}

body > footer .social {
		display: block;
		column-count: 2;
	}

body > footer .social a {
			margin: .5em 0;
		}

body > footer .social a::after {
				content: attr(aria-label);
			}

body > footer nav {
		column-count: 2;
	}

body > footer nav a {
			display: block;
			font-weight: bold;
		}

body > footer small {
		display: flex;
		gap: .6em;
		padding: 1rem 0;
		border-top: 1px solid hsl(var(--gray) 95% / .2);
	}

body > footer small a,
		body > footer small a:hover {
			color: var(--color-gray-medium);
		}

body > footer small .copyright {
			font-weight: bold;
		}

body > footer small .credits {
			color: var(--color-gray-medium);
		}

body > footer small .to-top {
			margin-left: auto;
		}

@media (width < 700px) {

body > footer small {
			flex-flow: column;
	}
		}

@media (width > 600px) {

body > footer {
		grid-template-columns: 1fr 1fr;
}

		body > footer small {
			grid-column-end: span 2;
		}
	}

.post-meta {
	display: flex;
	color: var(--color-gray-medium);
	font-size: .77rem;
	font-family: var(--font-sans);
	-webkit-font-smoothing: initial;
}

.post-meta:is(body > header *) {
		justify-content: center;
		margin-bottom: 1em;
		mix-blend-mode: multiply;
		font-weight: 500;
	}

.post-meta a:not(:hover) {
			color: inherit;
		}

.post-meta time::before {
			content: "\F1F6";
			font-family: bootstrap-icons;
			display: inline-block;
			vertical-align: middle;
			margin-right: .5em;
		}

.post-meta .tags {
		margin-right: auto;
	}

.post-meta .tags::before {
			content: "\F5B2";
			font-family: bootstrap-icons;
			display: inline-block;
			vertical-align: middle;
		}

.nutshell {
	font-family: var(--font-sans);
	font-size: 150%;
}

.post .post-meta {
		font-size: 80%;
	}

.post header {
		text-align: center;
		margin-bottom: 1.2em;
	}

.post header h2 {
			margin-bottom: .4em;
		}

.post header .post-meta {
			justify-content: center;
		}

/* Code */

:not(pre) > code,
pre[class*="language-"][class*="language-"],
pre {
	background: var(--color-light-2);
}

pre {
	margin: 4rem 0;
	overflow: auto;
	padding: 3rem 2rem;
}

pre code {
	background: transparent;
	padding: 0;
}

:not(pre) > code[class*="language-"][class*="language-"],
pre[class*="language-"][class*="language-"],
pre {
	background: var(--color-light-2);
}

pre,
pre[class*="language-"][class*="language-"] {
	position: relative;
	border: 0;
	padding: 1rem var(--padding-h) .5rem;
	margin: 0 calc(var(--padding-h) * -1);
	border: 0 solid transparent;
	border-width: 1.5em 0;
	box-sizing: content-box;
}

pre {
	clip-path: polygon(var(--clip-top), var(--clip-bottom));
	--clip-top: 0 0, 100% 2em;
	--clip-bottom: 100% calc(100% - 1.5em), 0 100%;
}

pre:nth-of-type(odd) {
		--clip-top: 0 2em, 100% 0;
	}

pre:nth-of-type(3n + 1),
	pre:nth-of-type(5n + 1) {
		--clip-bottom: 100% 100%, 0 calc(100% - 1.5em);
	}

/* Utility classes */
@media not (width > 700px) {
	.long-text, .gt-sm {
		display: none !important;
	}
}
@media (width > 700px) {
	.short-text, .lt-sm {
		display: none !important;
	}
}

@media not (width > 960px) {
	.gt-md {
		display: none !important;
	}
}
@media (width > 960px) {
	.lt-md {
		display: none !important;
	}
}

.press > article {
		padding: .5em .1em;
		border-bottom: 1px solid var(--color-gray-light);
	}

.press > article .type {
			color: var(--color-gray-medium);
		}

.press > article .article {
			display: block;
		}

.press > article .venue, .press > article time {
			font-size: 80%;
		}

.press > article .venue {
			color: black;
		}

.press > article time {
			color: var(--color-gray-medium);
		}

.press > article time::before {
				content: " • ";
			}

.newsletter > h3 {
		margin: 0;
	}

.newsletter .issues {
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: .4em;
	}

.newsletter .issue > a {
		background: var(--color-gray-medium);
		padding: .3em .5em;
		border-radius: .2em;
		color: white;
		text-decoration: none;
		font-family: var(--font-sans);
		font-size: 80%;
	}

.newsletter .issue > a:hover {
			background: var(--color-accent);
		}

.newsletter .issue > a .issue-number {
			font-weight: bold;
		}

.projects [mv-list][property="project"] {
	display: flex;
	flex-flow: column;
	gap: 1em;
}

.projects [mv-list][property="project"] .mv-add-project {
		order: -5;
	}

.projects article {
	position: relative;
	display: grid;
	grid-template-areas: "image"
	                     "content"
	                     "footer";
	grid-gap: .5em;
	padding: 1em;

	--base-font-size: 1em;
}

.projects article.type-app {
		--color: var(--color-accent);
	}

.projects article.type-lib {
		--color: var(--color-accent2);
	}

.projects article.featured {
		box-shadow: 0 0 0 .2em var(--color-orange);
	}

.projects article [property="featured"] {
		aspect-ratio: 2 / 1;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: flex-end;
		width: 12ch;
		padding-bottom: .4em;
		box-sizing: border-box;
		clip-path: polygon(50% 0, 100% 100%, 0 100%);

		background: var(--color-orange);
		font: bold 75%/1 var(--font-sans);
		color: white;

		transform: rotate(-45deg) translateX(-50%);
		transform-origin: 0 0;
	}

.projects article [property="featured"]::before {
			content: "★";
			display: block;
			font-size: 200%;
			text-align: center;
			opacity: .5;
		}

.projects article:not([mv-mode="edit"]) {
		order: calc(2 - var(--featured-weight, 0));
	}

.projects article:not([mv-mode="edit"]) [property="featured"][data-weight="0"] {
			display: none;
		}

.projects article[mv-mode="edit"] [property="featured"][data-weight="0"] {
			opacity: .5;
		}

.projects article .image-container {
		grid-area: image;
		position: relative;
		overflow: hidden;
	}

.projects article .image-container img {
			width: 100%;
			object-fit: cover;
			object-position: top;
		}

.projects article .image-container img.mv-empty.mv-empty.mv-empty {
				display: block;
				height: 100%;
				background: radial-gradient(hsl(var(--gray) 90%), hsl(var(--gray) 60%));
				content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100"><text x="50%" y=".9em" style="font: bold 80px/1 system-ui, sans-serif; text-anchor: middle; fill-opacity: .4; text-transform: uppercase">Image Coming Soon</text></svg>');
				object-fit: contain;
				object-position: center;
			}

@media (min-width: 700px) {

.projects article {
		grid-template-areas: "image content"
		                     "footer footer";
		grid-template-columns: 300px 1fr;
}
			.projects article .image-container img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 1;
			}
	}

.projects article .main-content {
		grid-area: content;
	}

.projects article [property="type"] {
		padding: .3em .5em;
		border-radius: .2em;
		background: var(--color, hsl(var(--gray) 50%));
		color: white;
		font: bold 75%/1 var(--font-sans);
		text-transform: uppercase;
	}

.projects article h3 {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		margin: 0;
	}

.projects article h3 > a {
			color: inherit;
		}

.projects article h3 .released {
			margin-left: auto;
			color: hsl(var(--gray) 50%);
			font: italic calc(var(--base-font-size) * .9) var(--font-serif);
			letter-spacing: normal;
		}

.projects article footer {
		grid-area: footer;
		display: flex;
		flex-wrap: wrap;
		gap: .5em;
		align-items: center;
	}

.projects article footer > a {
			padding: .25em 1em .15em;
			border-radius: 999px;
			background: hsl(var(--gray) 90%);
			white-space: nowrap;
			font-variant: small-caps;
			text-decoration: none;
			font-size: 75%;
			font-weight: bold;
		}

.projects article footer > a::before {
				display: inline-block;
				vertical-align: -.1em;
				margin-right: .5em;
				height: 1em;
			}

.projects article footer > a[property=url]::before {
				content: "🌍";
			}

.projects article footer > a[property=blogPost]::before {
				content: "✍🏼";
			}

.projects article footer > a[property="repo"]::before {
				content: url(favicons/github.svg);
				width: 1em;
				vertical-align: -.2em;
			}

.projects article footer > a:focus,
			.projects article footer > a:hover {
				background: var(--color-accent);
				color: white;
			}

.projects article footer > img {
			margin-left: auto;
		}

.event {
	display: grid;
	grid-template-columns: minmax(5em, auto) 1fr;
	gap: .5em;
	padding: .8em 0;
	border-bottom: 1px solid silver;
	text-indent: 0;
	list-style: none;


}

.event:last-child {
		border-bottom: 5px solid #eee;
	}

.event:before {
		content:none;
	}

.event .talk,
	.event .venue,
	.event address,
	.event .comment {
		line-height: inherit;
	}

.event .talk,
	.event .venue {
		font-size: 100%;
	}

.event .talk,
	.event .venue,
	.event p {
		margin-top: 0;
		margin-bottom: 0;
	}

.event .talk .type {
			color: var(--color-gray-medium);
			font-weight: normal;
			font-style: italic;
		}

.event .talk span.type:before {
			content: ' (';
		}

.event .talk span.type:after {
			content: ')';
		}

.event .talk a {
			display: inline-block;
			vertical-align: .1em;
			padding: .4em .4em .25em;
			margin-left: .5em;
			color: white;
			text-shadow: 0;
			font-size: 75%;
			line-height: 1;
			text-transform: uppercase;
			border-radius: .3em;
		}

.event .talk a.slides {
			background: var(--color-orange);
		}

.event .talk a.details {
			background: #0bd;
		}

.event .talk a.video {
			background: yellowgreen;
		}

.event .talk a:hover {
			background: #f06;
			color: white;
		}

.event .venue {
		margin-bottom:.6em;
	}

.event .date {
		color: var(--color-gray-medium);
		font-variant:small-caps;
	}

.event address,
	.event .comment,
	.event .comment[property="comment"] {
		font-size:75%;
		font-style:normal;
	}

.event address:before {
			display:inline-block;
			margin-right:.4em;
			vertical-align:-1px;
		}

.event address:not([class*="flag-"]):before {
			content: url(flags/online.png);
			vertical-align:-3px;
		}

.event address.flag-nl:before { content: url(flags/nl.png); }

.event address.flag-nz:before { content: url(flags/nz.png); }

.event address.flag-gb:before { content: url(flags/gb.png); }

.event address.flag-se:before { content: url(flags/se.png); }

.event address.flag-fi:before { content: url(flags/fi.png); }

.event address.flag-ru:before { content: url(flags/ru.png); }

.event address.flag-no:before { content: url(flags/no.png); }

.event address.flag-pl:before { content: url(flags/pl.png); }

.event address.flag-gr:before { content: url(flags/gr.png); }

.event address.flag-ch:before { content: url(flags/ch.png); }

.event address.flag-de:before { content: url(flags/de.png); }

.event address.flag-it:before { content: url(flags/it.png); }

.event address.flag-us:before { content: url(flags/us.png); }

.event address.flag-au:before { content: url(flags/au.png); }

.event address.flag-cz:before { content: url(flags/cz.png); }

.event address.flag-ca:before { content: url(flags/ca.png); }

.event address.flag-cl:before { content: url(flags/cl.png); }

.event address.flag-br:before { content: url(flags/br.png); }

.event address.flag-be:before { content: url(flags/be.png); }

.event address.flag-fr:before { content: url(flags/fr.png); }

.event address.flag-ph:before { content: url(flags/ph.png); }

.event address.flag-at:before { content: url(flags/at.png); }

.event address.flag-es:before { content: url(flags/es.png); }

.event address.flag-hu:before { content: url(flags/hu.png); }

.event address.flag-mx:before { content: url(flags/mx.png); }

.event address.flag-in:before { content: url(flags/in.png); }

.event address.flag-uy:before { content: url(flags/uy.png); }

.event address.flag-il:before { content: url(flags/il.png); }

.event address.flag-sg:before { content: url(flags/sg.png); }

.event address.flag-cn:before { content: url(flags/cn.png); }

.event address.flag-jp:before { content: url(flags/jp.png); }

.event address.flag-at:before { content: url(flags/at.png); }

.event address.flag-pt:before { content: url(flags/pt.png); }

.event address.flag-ua:before { content: url(flags/ua.png); }

.event .comment {
		color: hsl(var(--gray) 30%);
		font-size: 75%;
	}

.event .comment a {
			color: inherit;
			text-decoration: underline;
		}

.event .comment a:before {
				content:none;
			}

