@import url("prism.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-font-smoothing: antialiased;
	word-break: break-word;
	word-wrap: break-word;
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
	font-style: normal;
	font-display: swap;
	src: url(fonts/Inter-upright-var.woff2) format("woff2");
}

@font-face {
	font-family: "Inter var";
	font-weight: 100 900; /* stylelint-disable-line font-weight-notation */
	font-style: italic;
	font-display: swap;
	src: url(fonts/Inter-italic-var.woff2) format("woff2");
}

:root {
	--font-sans: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	--font-serif: "Hoefler Text", Garamond, "Times New Roman", serif;
	--font-monospace: Consolas, Menlo, Monaco, source-code-pro, monospace;

	@supports ( font-variation-settings: normal ) {
		--font-sans: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}

	--color-magenta: #f06;
	--color-orange: #f73;
	--color-accent: var(--color-magenta);
	--color-accent2: var(--color-orange);

	--gray: 220 10%;
	--color-gray-medium: hsl(var(--gray) 50%);
	--color-gray-light: #dedfdf;
	/* --color-light-1: #dcd7ca; */
	--color-light-1: hsl(35 100% 90%);
	/* --color-light-2: #f5efe0; */
	--color-light-2: hsl(35 100% 95%);
	--color-light-3: hsl(35 100% 99%);

	--width-thin: 50rem;

	--content-width: var(--width-thin);
	--content-margin: clamp(var(--min-padding), 50vw - var(--content-width) / 2, 25vw);
	--min-padding: 1rem;

	@media (width <= 700px) {
		--content-width: calc(100vw - 2 * var(--min-padding));
	}
}

:nth-child(1) { --index: 1; }
:nth-child(2) { --index: 2; }
:nth-child(3) { --index: 3; }
:nth-child(4) { --index: 4; }
:nth-child(5) { --index: 5; }
:nth-child(6) { --index: 6; }
:nth-child(7) { --index: 7; }
:nth-child(8) { --index: 8; }
:nth-child(9) { --index: 9; }
:nth-child(n + 10) { --index: 10; }

html {
	color: black;
	font: 110%/1.5 var(--font-sans);
	letter-spacing: -0.015em;

	@media (width > 700px) {
		font-size: 130%;

		&.supports-registerproperty {
			xanimation: to1 600s linear infinite;
		}
	}
}

body {
	background: var(--color-light-3);
	box-sizing: border-box;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	position: relative;
	font-feature-settings: "lnum";
	font-variant-numeric: lining-nums;
	font-weight: 800;
	letter-spacing: -0.03em;
	line-height: 1.1;
	font-family: var(--font-sans);
	margin: 3.5rem 0 2rem;
	text-wrap: balance;

	& a {
		color: inherit;
	}

	& > a:only-child {
		text-decoration: none;

		&:hover {
			color: inherit;
		}
	}
}

h1 {
	font-size: 220%;

	@media (width > 700px) {
		font-size: 400%;
	}
}

h2 {
	font-size: 180%;

	@media (width > 700px) {
		font-size: 300%;
	}
}

h3 {
	font-size: 140%;
}

h4 {
	font-size: 2.4rem;
}

h5 {
	font-size: 2.1rem;
}

h6 {
	font-size: 1.6rem;
	letter-spacing: 0.03125em;
	text-transform: uppercase;
}

p {
	line-height: 1.5;
	margin: 0 0 1em 0;
}

a {
	color: var(--color-accent);
	text-decoration: none;

	&:hover,
	&:focus {
		color: var(--color-accent2);
		text-decoration: underline;
	}
}

hr {
	background: linear-gradient(to left, currentColor calc(50% - 16px), transparent calc(50% - 16px), transparent calc(50% + 16px), currentColor calc(50% + 16px));
	background-color: transparent !important;
	border: none;
	height: 1px;
	overflow: visible;
	position: relative;
	font-size: 80%;
	margin-top: 3em;

	&:not(.has-background) {
		color: var(--color-gray-medium);
	}

	&::before {
		content: "";
		background: url("/logo.svg") center / cover no-repeat;
		height: 1.6em;
		aspect-ratio: 1;
		position: absolute;
		top: -1.2em;
		left: 50%;
		transform: translateX(-50%);
		filter: grayscale();
		opacity: .8;
	}
}

video, img {
	max-width: 100%;
}

pre, code {
	font-family: var(--font-monospace);
}

@property --number {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

@keyframes to1 {
	from { --number: 0; }
	to { --number: 1; }
}

.social {
	display: flex;
	flex-flow: column;
	gap: .5rem;

	& a {
		display: flex;
		gap: .5em;
		text-decoration: none;

		&::after {
			font-weight: bold;
		}

		& i {
			display: inline-flex;
			width: 1em;
			line-height: 1;
			padding: .3em;
			box-sizing: content-box;
			border-radius: 50%;
			background: var(--color-accent);
			color: white;
			transition: .2s transform;

			&:is(:hover > *) {
				background: var(--color-accent2);
				transform: scale(1.2);
			}
		}
	}
}

body > header {
	position: relative;
	padding: var(--min-padding);
	--header-bg-center: calc(var(--min-padding) + .75em) calc(2em - var(--scrolltop, 0) * 1px);
	background: repeating-conic-gradient(from calc(var(--number, 0) * 1turn) at var(--header-bg-center), var(--color-light-1) 0 4deg, transparent 0 8deg) fixed;
	background-color: var(--color-light-2);

	.site-meta {
		display: flex;
		align-items: center;

		.site-logo {
			display: flex;
			gap: .5em;
			align-items: center;
			flex-shrink: 0;
			color: inherit;
			text-decoration: none;

			& img {
				max-height: 2.5rem;
				width: auto;
			}

			.site-title {
				color: var(--color-accent);
				font-size: 150%;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 1;
				white-space: nowrap;
			}
		}

		& nav {
			display: flex;
			gap: 1em;
			margin-left: auto;
			font-size: 75%;
			font-weight: 500;

			& a {
				color: var(--color-accent);
				word-break: initial;
				word-wrap: initial;

				&:not(:hover) {
					text-decoration: none;
				}

				&.selected {
					position: relative;
					margin: 0 .5em;

					&::before,
					&::after {
						position: absolute;
						font-weight: 500;
						font-size: 180%;
						top: 50%;
						transform: translateY(-55%);
					}

					&::before {
						content: "{";
						right: 100%;
					}

					&::after {
						content: "}";
						left: 100%;
					}
				}
			}
		}

		.🍔 {
			margin-left: auto;
		}

		& .social {
			position: absolute;
			left: 1.6rem;
			top: 4.25rem;
			font-size: 80%;

			& a {
				--link-index: var(--index);

				&:hover::after {
					content: attr(aria-label);
				}

				& i {
					scale: calc(1.1 - var(--link-index) * .08);
				}
			}
		}
	}

	.page-meta {
		padding: 0 var(--content-margin);
	}

	& h1 {
		text-align: center;
	}
}

body > main {
	padding: 2rem var(--content-margin) 1rem;
	font-family: var(--font-serif);
}

body > footer {
	display: grid;
	gap: 1em;
	padding: var(--min-padding) var(--content-margin);
	margin-top: 2em;
	background: repeating-conic-gradient(from calc(var(--number, 0) * 1turn) at calc(100% + 1em) calc(100% + 1em), rgb(0 0 0 / .1) 0 4deg, transparent 0 8deg) fixed;
	background-color: hsl(var(--gray) 23%);
	border: 0 solid hsl(var(--gray) 95% / .2);
	color: white;

	& h4 {
		padding: .3em 1em;
		width: max-content;
		column-span: all;
		align-self: start;
		margin: 0;
		margin-bottom: .4rem;
		background: var(--color-accent);
		color: hsl(var(--gray) 20%);
		font-size: .8em;
		text-transform: uppercase;
		--offset: .5em;
		clip-path: polygon(var(--offset) 0, 100% 0, calc(100% - var(--offset)) 100%, 0 100%);
		margin-left: calc(-1 * var(--offset));

	}

	& > :has(> h4) {
		margin-top: -1.5rem;
	}

	& .social {
		display: block;
		column-count: 2;

		& a {
			margin: .5em 0;

			&::after {
				content: attr(aria-label);
			}
		}
	}

	& nav {
		column-count: 2;

		& a {
			display: block;
			font-weight: bold;
		}
	}

	& small {
		display: flex;
		gap: .6em;
		padding: 1rem 0;
		border-top: 1px solid hsl(var(--gray) 95% / .2);

		& a,
		& a:hover {
			color: var(--color-gray-medium);
		}

		.copyright {
			font-weight: bold;
		}

		.credits {
			color: var(--color-gray-medium);
		}

		.to-top {
			margin-left: auto;
		}

		@media (width < 700px) {
			flex-flow: column;
		}
	}

	@media (width > 600px) {
		grid-template-columns: 1fr 1fr;

		& small {
			grid-column-end: span 2;
		}
	}
}

.post-meta {
	display: flex;
	color: var(--color-gray-medium);
	font-size: .77rem;
	font-family: var(--font-sans);
	-webkit-font-smoothing: initial;

	&:is(body > header *) {
		justify-content: center;
		margin-bottom: 1em;
		mix-blend-mode: multiply;
		font-weight: 500;
	}

	& a {
		&:not(:hover) {
			color: inherit;
		}
	}

	& time {
		&::before {
			content: "\F1F6";
			font-family: bootstrap-icons;
			display: inline-block;
			vertical-align: middle;
			margin-right: .5em;
		}
	}

	.tags {
		margin-right: auto;

		&::before {
			content: "\F5B2";
			font-family: bootstrap-icons;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.nutshell {
	font-family: var(--font-sans);
	font-size: 150%;
}

.post {
	& .post-meta {
		font-size: 80%;
	}

	& header {
		text-align: center;
		margin-bottom: 1.2em;

		& h2 {
			margin-bottom: .4em;
		}

		& .post-meta {
			justify-content: center;
		}
	}
}

/* Code */

:not(pre) > code,
pre[class*="language-"][class*="language-"],
pre {
	background: var(--color-light-2);
}

pre {
	margin: 4rem 0;
	overflow: auto;
	padding: 3rem 2rem;
}

pre code {
	background: transparent;
	padding: 0;
}

:not(pre) > code[class*="language-"][class*="language-"],
pre[class*="language-"][class*="language-"],
pre {
	background: var(--color-light-2);
}

pre,
pre[class*="language-"][class*="language-"] {
	position: relative;
	border: 0;
	padding: 1rem var(--padding-h) .5rem;
	margin: 0 calc(var(--padding-h) * -1);
	border: 0 solid transparent;
	border-width: 1.5em 0;
	box-sizing: content-box;
}

pre {
	clip-path: polygon(var(--clip-top), var(--clip-bottom));
	--clip-top: 0 0, 100% 2em;
	--clip-bottom: 100% calc(100% - 1.5em), 0 100%;

	&:nth-of-type(odd) {
		--clip-top: 0 2em, 100% 0;
	}

	&:nth-of-type(3n + 1),
	&:nth-of-type(5n + 1) {
		--clip-bottom: 100% 100%, 0 calc(100% - 1.5em);
	}
}

/* Utility classes */
@media not (width > 700px) {
	.long-text, .gt-sm {
		display: none !important;
	}
}
@media (width > 700px) {
	.short-text, .lt-sm {
		display: none !important;
	}
}

@media not (width > 960px) {
	.gt-md {
		display: none !important;
	}
}
@media (width > 960px) {
	.lt-md {
		display: none !important;
	}
}

.press {
	> article {
		padding: .5em .1em;
		border-bottom: 1px solid var(--color-gray-light);

		.type {
			color: var(--color-gray-medium);
		}

		.article {
			display: block;
		}

		.venue, time {
			font-size: 80%;
		}

		.venue {
			color: black;
		}

		& time {
			color: var(--color-gray-medium);

			&::before {
				content: " • ";
			}
		}
	}
}

.newsletter {
	> h3 {
		margin: 0;
	}

	.issues {
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: .4em;
	}

	.issue > a {
		background: var(--color-gray-medium);
		padding: .3em .5em;
		border-radius: .2em;
		color: white;
		text-decoration: none;
		font-family: var(--font-sans);
		font-size: 80%;

		&:hover {
			background: var(--color-accent);
		}

		.issue-number {
			font-weight: bold;
		}
	}
}