---
title: "Blog"
override:tags: []
layout: "page.njk"
pagination: {
	data: collections.publishedPosts,
	size: 15,
	reverse: true
}
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

{% include "_yearly.njk" %}

{% import "_posts.njk" as posts with context %}
{{ posts.list(pagination.items) }}

<footer class="prev-next">
{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" class="prev">Previous</a>{% endif %}
<div class="current">
	{{ pagination.pageNumber + 1 }}
	of {{ pagination.pages.length }}
</div>
{% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="next">Next</a>{% endif %}
</footer>
