---
title: "Blog"
override:tags: []
layout: "page.njk"
pagination: {
	data: collections.blog,
	size: 20,
	reverse: true
}
permalink: "/blog/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
---

<div class="bar-chart" style="--max: 50" id="by-year">
	{% for year, posts in collections.postsByYear %}
		<a href="/blog/{{ year }}/" style="--p: {{ posts.length }}" data-title="{{ posts.length | pluralize("post") }}">
			<span class="result">
				<span class="number">{{ posts.length }}</span>
				post{{ "s" if posts.length !== 1 }}
			</span>
			<span class="label">{{ year }}</span>
		</a>
	{% endfor %}
</div>

{% import "_posts.njk" as posts with context %}
{{ posts.list(pagination.items) }}

<footer class="prev-next">
{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" class="prev">Previous</a>{% endif %}
<div class="current">
	{{ pagination.pageNumber + 1 }}
	of {{ pagination.pages.length }}
</div>
{% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="next">Next</a>{% endif %}
</footer>
