---
title: All tags
permalink: "blog/tags/index.html"
override:tags: []
---

{% import "_tags.njk" as tags %}

<ol class="tags-index subtle-markers">
{% for tag, posts in collections.postsByTag %}
	<li>{{ tags.one(tag) }}
		<span class="post-count">({{ posts.length }} posts)</span>
	</li>
{% endfor %}
</ol>