---
pagination:
  data: collections
  size: 1
  alias: tag
  filter: ["blog", "all"]
permalink: /blog/tags/{{ tag }}/
override:tags: []
eleventyComputed:
  title: "Posts Tagged “{{ tag | format_tag }}”"
---


{% set taglist = collections[ tag ] | reverse %}
{% set post_style = "compact" if taglist.length > 10 %}
{% import "_posts.njk" as posts %}
{{ posts.list(taglist, {style: post_style }) }}
