---
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: /blog/{{ year }}/
override:tags: []
eleventyComputed:
  title: "Posts from {{ year }}"
---

{% include "_yearly.njk" %}

{% import "_posts.njk" as posts %}
{{ posts.list(collections.postsByYear[ year ], {style: "compact"}) }}