---
pagination:
  data: collections.postsByYear
  size: 1
  alias: year
permalink: /blog/{{ year }}/
override:tags: []
eleventyComputed:
  title: "Posts from {{ year }}"
---

{% import "_posts.njk" as posts %}
{% set postlist = collections.postsByYear[ year ] | values | flatten %}
{{ posts.list(postlist, {style: "compact"}) }}