.before-after {
	table-layout: initial;
	font-size: 80%;
	overflow: auto;

	& pre code {
		white-space: pre;
	}
}

@media (width < 1650px) {
	.before-after table,
	.before-after tr,
	.before-after td {
		display: block;
	}

	.before-after th {
		display: none;
	}

	.before-after td {
		position: relative;
		margin-block: 1.5rem .2rem;

		&:nth-child(2)::before {
			content: "became";
			position: absolute;
			bottom: 100%;
			margin-bottom: .2rem;
		}
	}

	.before-after tr {
		margin-block: 1rem;
	}
}