{% macro status_badge (ref) -%}
	{% set status = ref if ref.id else proposal_meta.statuses[ref] %}
	{%- if status -%}
	<span class="tech-status {{ status.id }}">{{ status.name }}</span>
	{%- else -%}
	<span class="tech-status {{ ref }}">{{ ref | capitalize }}</span>
	{%- endif %}
{%- endmacro %}

{% macro timeline(keyDates) %}
<div class="progress">
{% for transition in keyDates %}
	{% if transition.date %}
		{% if prevDate %}
			{% set interval = transition.date | from(prevDate, {structured: true}) %}
			<span class="to {{ interval.maxUnit }}">
				{% for part in interval.parts %}
					<span class="interval">
						<span class="value">{{ part.value }}</span>
						<span class="unit">{{ part.unit }}</span>
					</span>
				{% endfor %}
			</span>
		{% endif %}
		{{ status_badge(transition.status) }}
		{% set prevDate = transition.date %}
	{% endif %}
{% endfor %}
</div>
{# <pre>{{ keyDates | jsonify }}</pre> #}
{% endmacro %}

{% macro milestone (m, index) %}
	{% set milestone_title = m.title %}
	{%- if not milestone_title %}
		{% set milestone_title -%}
			{{ "WG" if m.type == "resolution" }} {{ m.type | capitalize }}
			{%- if m.type == "shipped" %} in {{ m.browser | capitalize }} {{ m.version }}{% endif -%}
		{%- endset %}
	{% endif -%}
	{% set class %}{{ m.type or 'other' }} {{ m.browser }}{{ ' flag' if m.flag }}{% endset %}
	<dt class="{{ class }}" style="--row: {{ index }}">
		{% if m.flag %}<span class="flag"></span>{% endif %}
		{% if m.url -%}
		<a href="{{ m.url }}">{{ milestone_title | trim | md }}</a>
		{%- else -%}
		{{ milestone_title | trim | md }}
		{%- endif %}
		{% if m.by %}<em>(by {{ m.by }})</em>{% endif %}
	</dt>
	<dd class="{{ class }}" style="--row: {{ index }}">
		{% if m.date %}
		<time datetime="{{ m.date }}"></time>
		{% endif %}
	</dd>
{% endmacro %}

{% macro standard (tech, hLevel = 2) %}
<section class="tech {{ tech.status }}">

<header>
	<h{{ hLevel }} id="{{ tech.id }}">
		<a href="#{{ tech.id }}">{{ tech.title | md }}</a>

		{{ status_badge(tech.status) }}
	</h{{ hLevel }}>

	<div class="meta">
		{% if tech.minDate %}
		<div class="metabit date">
			<time>{{ tech.minDate | format_date({"year": "numeric", month: "short"}) }}</time>
			&ndash;
			{% if tech.status == "shipped-baseline" or tech.status == "superseded" %}
			<time>{{ tech.maxDate | format_date({"year": "numeric", month: "short"}) }}</time>
			{%- endif %}
		</div>
		{%- endif %}

		{%- if tech.tags %}
		<div class="metabit tags">
			{% for tag in tech.tags -%}
				<a class="tag">{{ tag }}</a>{% if not loop.last %}, {% endif %}
			{%- endfor %}
		</div>
		{%- endif %}
	</div>

</header>

<div class="description">
{{ tech.description | md }}
</div>

{% if tech.status != "proposal" and tech.keyDates.length > 1 %}
{{ timeline(tech.keyDates) }}
{% endif %}

{% if tech.parts %}
{% for part in tech.parts -%}
		{{ standard(part, hLevel + 1) }}
	{%- endfor %}
{% elif tech.milestones %}
<time-line>
<dl>
	{% for m in tech.milestones -%}
	{{ milestone(m, loop.index) }}
	{%- endfor %}
</dl>
</time-line>
{%- endif %}

{{- tech.note -}}

</section>
{% endmacro %}
