---
title: Web Specs
includes: '<script type=module src="/assets/elements/time-line/time-line.js"></script>'
page_css: true
override:tags: []
---
{% import "specs/_partials.njk" as partials with context %}


<div class="nutshell">
This section contains an overview of web technologies I have designed, proposed, or significantly influenced.
Each feature includes a complete timeline from proposal to shipping across browsers.
Beyond listing my body of work, I’m hoping it can provide insight into the process and timeline of how the Web evolves.
</div>

<div class="note">
	This does not include any of my high level web architecture work as a <a href="https://en.wikipedia.org/wiki/Technical_Architecture_Group">W3C TAG</a> member,
spread across two areas:
a)&nbsp;<a href="https://github.com/w3ctag/design-reviews/">design reviews of web technology proposals</a>,
and
b)&nbsp;documenting <a href="https://w3.org/TR/design-principles">Design Principles for the Web Platform</a>,
an effort I took the lead on since my early days as a TAG member.
</div>

<div class="bar-chart" style="--max: 6" id="by-year">
	{% for year, proposals in proposal_meta.proposalsByYear %}
		<a style="--p: {{ proposals.length }}">
			<span class="result">
				<span class="number">{{ proposals.length }}</span>
				proposal{{ "s" if proposals.length !== 1 }}
			</span>
			<span class="label">{{ year }}</span>
		</a>
	{% endfor %}
</div>

<h2>Index ({{ standards.length }} proposals)</h2>

<table class="status-legend">
	<thead>
		<tr>
			<th>Status</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for id, status in proposal_meta.statuses %}
		<tr>
			<td>{{ partials.status_badge(status) }}</td>
			<td>{{ status.description }}
				<details>
					<summary>{{ status.proposals.length }} proposal{{ "s" if status.proposals.length != 1 }}</summary>
					<ul>
						{% for proposal in status.proposals -%}
						<li><a href="#{{ proposal.id }}">{{ proposal.title | md_inline | safe }}</a></li>
						{%- endfor %}
					</ul>
				</details>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% for tech in standards -%}
{{ partials.standard(tech) }}
{%- endfor %}