---
title: Web Specs
page_css: true
override:tags: []
---
{% block head %}
<script type=module src="/assets/elements/time-line/time-line.js"></script>
{% endblock %}

{% import "specs/_partials.njk" as partials with context %}


<p class="nutshell">
This section contains an overview of web technologies I have designed, proposed, or significantly influenced.
Each feature includes a complete timeline from proposal to shipping across browsers.
</p>

<p>
	Beyond listing my body of work, I’m hoping it can provide insight into the process and timeline of how the Web evolves.
</p>

<p>Are you fed up working around your web platform pain points and want to fix the root cause but web standards seem opaque and scary?
	<a href="/consulting">I can help!</a>

<div class="note">
	This page only lists my own standards work (both funded and personal).
	It does not include my work <a href="https://github.com/w3ctag/design-reviews/">reviewing over 100+ web technology proposals</a>
	or leading the <a href="https://w3.org/TR/design-principles">Web Platform Design Principles</a> effort
	in the 4 years I spent as a <a href="https://en.wikipedia.org/wiki/Technical_Architecture_Group">W3C Technical Architecture Group (TAG)</a> member.
</div>

<div class="bar-chart" style="--max: 6" id="by-year">
	{% for year, proposals in proposal_meta.proposalsByYear %}
		<a style="--p: {{ proposals.length }}">
			<span class="result">
				<span class="number">{{ proposals.length }}</span>
				proposal{{ "s" if proposals.length !== 1 }}
			</span>
			<span class="label">{{ year }}</span>
		</a>
	{% endfor %}
</div>

<h2>Index ({{ standards.length }} proposals)</h2>

<table class="status-legend">
	<thead>
		<tr>
			<th>Status</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for id, status in proposal_meta.statuses %}
		<tr>
			<td>{{ partials.status_badge(status) }}</td>
			<td>{{ status.description }}
				<details>
					<summary>{{ status.proposals.length }} proposal{{ "s" if status.proposals.length != 1 }}</summary>
					<ul>
						{% for proposal in status.proposals -%}
						<li><a href="#{{ proposal.id }}">{{ proposal.title | md }}</a></li>
						{%- endfor %}
					</ul>
				</details>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% for tech in standards -%}
{{ partials.standard(tech) }}
{%- endfor %}
