{% macro status_badge (ref) -%}
	{% set status = ref if ref.id else proposal_meta.statuses[ref] %}
	{%- if status -%}
	<span class="tech-status {{ status.id }}">{{ status.name }}</span>
	{%- else -%}
	<span class="tech-status {{ ref }}">{{ ref | capitalize }}</span>
	{%- endif %}
{%- endmacro %}

{% macro milestone (m) %}
	{% set milestone_title = m.title %}
	{%- if not milestone_title %}
		{% set milestone_title -%}
			{{ "WG" if m.type == "resolution" }} {{ m.type | capitalize }}
			{%- if m.type == "shipped" %} in {{ m.browser | capitalize }} {{ m.version }}{% endif -%}
		{%- endset %}
	{% endif -%}
	<dt class="{{ m.browser }}{{ ' flag' if m.flag }}">
		{% if m.flag %}<span class="flag"></span>{% endif %}
		{% if m.url -%}
		<a href="{{ m.url }}">{{ milestone_title | trim | md_inline | safe }}</a>
		{%- else -%}
		{{ milestone_title | trim | md_inline | safe }}
		{%- endif %}
		{% if m.by %}<em>(by {{ m.by }})</em>{% endif %}
	</dt>
	<dd class="{{ m.browser }}">
		{% if m.date %}
		<time datetime="{{ m.date }}"></time>
		{% endif %}
	</dd>
{% endmacro %}

{% macro standard (tech, hLevel = 2) %}
<section class="tech {{ tech.status }}">

<h{{ hLevel }} id="{{ tech.id }}">
	<a href="#{{ tech.id }}">{{ tech.title | md_inline | safe }}</a>
	{{ status_badge(tech.status) }}
	{% if tech.minDate %}
	<span class="dates">
		(<time>{{ tech.minDate | format_date({"year": "numeric", month: "short"}) }}</time>
		&ndash;
		{% if tech.status == "shipped-baseline" or tech.status == "superseded" %}
		<time>{{ tech.maxDate | format_date({"year": "numeric", month: "short"}) }}</time>
		{%- endif %})
	</span>
	{%- endif %}
</h{{ hLevel }}>

<div class="description">
{{ tech.description | md_inline | safe }}
</div>

{% if tech.status != "proposal" and tech.keyDates.length > 1 %}
<div class="progress">
{% for transition in tech.keyDates %}
	{% if transition.date %}
		{% if prevDate %}
			{% set interval = transition.date | from(prevDate, {structured: true}) %}
			<span class="to {{ interval.maxUnit }}">
				{% for part in interval.parts %}
					<span class="interval">
						<span class="value">{{ part.value }}</span>
						<span class="unit">{{ part.unit }}</span>
					</span>
				{% endfor %}
			</span>
		{% endif %}
		{{ status_badge(transition.status) }}
		{% set prevDate = transition.date %}
	{% endif %}
{% endfor %}
</div>
{# <pre>{{ tech.keyDates | jsonify }}</pre> #}
{% endif %}

{% if tech.parts %}
{% for part in tech.parts -%}
		{{ standard(part, hLevel + 1) }}
	{%- endfor %}
{% elif tech.milestones %}
<time-line>
<dl>
	{% for m in tech.milestones -%}
	{{ milestone(m) }}
	{%- endfor %}
</dl>
</time-line>
{%- endif %}

{{- tech.note -}}

</section>
{% endmacro %}