---
title: Web Technologies
includes: '<script type=module src="/assets/elements/time-line/time-line.js"></script>'
page_css: true
---
{% import "standards/_partials.njk" as partials with context %}


<div class="nutshell">
This section contains an overview of web technologies I have designed or helped design.
It includes a list of proposals, their current status, and a timeline of their development.
In addition to listing my body of work, I’m hoping it can provide insight into the process and timeline for new web technologies.
</div>

<div class="note">
	This does not currently incude any of my <a href="https://tag.w3.org/">W3C TAG</a> web architecture work,
namely <a href="https://github.com/w3ctag/design-reviews/">design reviews of other web technology proposals</a>,
and <a href="https://w3.org/TR/design-principles">Design Principles for the Web Platform</a>.
</div>

<h2>Index ({{ standards.length }} proposals)</h2>

<table class="status-legend">
	<thead>
		<tr>
			<th>Status</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for id, status in proposal_meta.statuses %}
		<tr>
			<td>{{ partials.status_badge(status) }}</td>
			<td>{{ status.description }}
				<details>
					<summary>{{ status.proposals.length }} proposal{{ "s" if status.proposals.length != 1 }}</summary>
					<ul>
						{% for proposal in status.proposals -%}
						<li><a href="{{ proposal.url }}">{{ proposal.title | md_inline | safe }}</a></li>
						{%- endfor %}
					</ul>
				</details>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% for tech in standards -%}
{{ partials.standard(tech) }}
{%- endfor %}