---
title: Web Standards Work
includes: '<script type=module src="/standards/time-line.js"></script>'
page_css: true
---
{% macro print_status (ref) -%}
{% set status = ref if ref.id else proposal_meta.statuses[ref] %}
{%- if status -%}
<span class="tech-status {{ status.id }}">{{ status.name }}</span>
{%- else -%}
<span class="tech-status {{ ref }}">{{ ref | capitalize }}</span>
{%- endif %}
{%- endmacro %}

{% macro print_milestone (milestone) %}
{% set milestone_title = milestone.title %}
{% if not milestone_title %}
	{% set milestone_title -%}
		{{ "WG" if milestone.type == "resolution" }} {{ milestone.type | capitalize }}
		{%- if milestone.type == "shipped" %} in {{ milestone.browser | capitalize }} {{ milestone.version }}{% endif -%}
	{%- endset %}
{% endif %}
<dt class="{{ milestone.browser }}">
	{% if milestone.url -%}
	<a href="{{ milestone.url }}">{{ milestone_title | trim | md_inline | safe }}</a>
	{%- else -%}
	{{ milestone_title | trim | md_inline | safe }}
	{%- endif %}
	{% if milestone.by %}<em>(by {{ milestone.by }})</em>{% endif %}
</dt>
<dd class="{{ milestone.browser }}">
	{% if milestone.date %}
	<time datetime="{{ milestone.date }}"></time>
	{% endif %}
</dd>
{% endmacro %}

{% macro print_standard (tech, hLevel) %}
<section class="tech {{ tech.status }}">

<h{{ hLevel or 2 }} id="{{ tech.id }}"> {{ tech.title | md_inline | safe }} {{ print_status(tech.status) }}</h{{ hLevel or 2 }}>

{{ tech.description | md_inline | safe }}

<time-line>
<dl>
{% for milestone in tech.milestones %}
{{ print_milestone(milestone) }}
{% endfor %}
</dl>
</time-line>
{{ tech.note }}

</section>
{% endmacro %}

<div class=nutshell>
This section contains an overview of my contributions to web standards since 2012.
</div>

<h2>Status legend</h2>

<table class="status-legend">
	<thead>
		<tr>
			<th>Status</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
		{% for id, status in proposal_meta.statuses %}
		<tr>
			<td>{{ print_status(status) }}</td>
			<td>{{ status.description }}
				<details>
					<summary>{{ status.proposals.length }} proposal{{ "s" if status.proposals.length != 1 }}</summary>
					<ul>
						{% for proposal in status.proposals -%}
						<li><a href="{{ proposal.url }}">{{ proposal.title | md_inline | safe }}</a></li>
						{%- endfor %}
					</ul>
				</details>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% for tech in standards -%}
{% if tech.parts %}
<h2>{{ tech.title | md_inline | safe }}</h2>

{{ tech.description | md | safe }}
	{% for part in tech.parts -%}
		{{ print_standard(part, 3) }}
	{%- endfor %}
{% else -%}
{{ print_standard(tech) }}
{%- endif %}

{%- endfor %}