@import "base.css";

:root {
	--color-mvp: var(--color-green-dark);
	--color-v1: var(--color-purple-dark);
	--color-v2: var(--color-blue-dark);
}



#hlf {
	--path-mvp: path("M 79 540 C 93 516 127 482 144 468 C 162 454 178 446 187 441   M 78 534 C 102 509 125 485 142 471 C 160 457 178 444 185 438");
	--path-v1:  path("M 79 540 C 126 500 276 382 352 327 C 427 273 502 230 533 210  M 80 540  C 122 508 273 387 348 331 C 423 275 497 226 528 206");
	--path-v2:  path("M 79 540 C 142 490 337 337 467 248 C 597 160 793 49  858 9    M 80 540  C 148 487 338 330 467 243 C 596 156 792 52 857 12");
}

#llf {
	--path-mvp: path("M 96 20  C 186 20 286 20 367 20 C 427 20 492 20 558 20 C 650 20 739 20 828 20    M 93 16 C 183 16 273 16 363 16 C443 16 498 16 553 16 C629 16 727 17 824 17");
	--path-v1:  path("M 96 252 C 146 242 291 234 367 199 C 443 163 482 71 558 41 C633 12 777 23 821 20 M 97 257 C 141 249 287 239 363 202 C439 165 477 67 553 36 C629 6 775 23 819 25");
	--path-v2:  path("M 96 536 C 123 490 256 348 334 266 C 413 185 470 84 551 44 C632 3 778 29 822 25  M 79 540 C 120 496 254 354 332 270 C411 186 467 81 549 39 C631 -2 777 24 823 21");
}

#grid {
	color: var(--color-text);
}

@keyframes curve {
	from, 25% {
		d: var(--path-mvp);
		color: var(--color-mvp);
	}
	35%, 60% {
		d: var(--path-v1);
		color: var(--color-v1);
	}
	70%, to {
		d: var(--path-v2);
		color: var(--color-v2);
	}
}

@property --version-mvp {
	syntax: "<number>";
	initial-value: 0;
	inherits: true;
}

@property --version-v1 {
	syntax: "<number>";
	initial-value: 0;
	inherits: true;
}

@property --version-v2 {
	syntax: "<number>";
	initial-value: 0;
	inherits: true;
}

@keyframes version {
	from, 25% {
		--version-mvp: 1;
	}
	42%, 60% {
		--version-v1: 1;
	}
	75%, to {
		--version-v2: 1;
	}

	30%, to {
		--version-mvp: 0;
	}
	from, 35%, 65%, to {
		--version-v1: 0;
	}
	from, 70% {
		--version-v2: 0;
	}
}

.chart {
	animation: curve 3s infinite both;
}

.curve {
	stroke: currentColor;
	d: inherit;
	stroke-width: 3;
}

.version {
	animation: inherit;
	animation-name: version;

	&.mvp {
		opacity: var(--version-mvp);
	}

	&.v1 {
		opacity: var(--version-v1);
	}

	&.v2 {
		opacity: var(--version-v2);
	}
}


/* Grid lines */
path.grid {
	stroke: currentColor;
	stroke-width: 1;
}

/* Axis labels */
text.label {
	font-size: 28px;
	text-anchor: end;

	&.vertical {
		transform: rotate(-90deg) translate(-2em, -2.8em);
	}
}

/* Version labels */
text.version {
	font-size: 36px;
}

/* Caption text */
text.caption {
	font-size: 48px;
}

.arrow {
	letter-spacing: -0.35em;
	font-size: 85%;
}
